<h1>Welcome to Horello Starter</h1>
<h2>Current Projects:</h2>
<ul>
{{#each projects}}
	<li>
		<form method="post" action="../projects/{{id}}">
		<!-- <p>{{id}}</p> -->
		<p>{{title}}:</p>
		<p>{{description}}</p>
		<p>By: {{user}}</p>
		<p>Category: {{category}}</p>
		<button type="submit" name="projid" class="btn btn-">View project</button>
		</form>
	</li>
{{/each}}
</ul>
<form action="../new">
 <button type="submit" name="newPostPg" class="btn btn-default">Create a Project</button>
 </form>
<form action="../categories">
 <button type="submit" name="categories" class="btn btn-default">View Categories</button>
</form>

<script>
$('#contribForm').on('submit', function(e){
	e.preventDefault();
	var target =$(e.target);
	var inputs = $target.find('input');
	var contrib = {};
	//iterating over all input elements in for in order to get their values
	inputs.each(function(i,inputElement){
		console.log(inputElement);
		var name=$(inputElement).attr('name');
		var val=$(inputElement).val();
		contrib[name]=val;
	});
	console.log(contrib)
	$.ajax('/api/project/'+id+'/contribute', {
		method: 'post',
		data: contrib,
		success: function(data){
		}
	})
});
</script>