<p>Project: {{project.title}}</p>
<p>Description: {{project.description}}</p>
<p>Poster: {{project.user}}</p>
<p>Goal Amount: {{project.goal}}</p>
<p>Insert goal bar eventually</p>
<div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow={{project.raised}} aria-valuemin="0" aria-valuemax={{project.goal}} style="width:"+{{project.percent}}+"%">
<span class="sr-only">{{project.raised}} raised</span>
</div>
</div>
<form method="post">
<div class="form-group">
<label for="donation">Donate to project (USD)</label>
<input type="text" name="donation">
</div>
<button type="submit" class="btn btn-default">Donate</button>
</form>