<h1>Project: {{project.title}}</h1>
<h3>Category: {{project.category}}</h3>
<h3>Fundraising goal: ${{project.goalAmount}}</h3>
<h3>Total contributions:</3>
<h3>Start date: {{project.startDate}}</h3>
<h3>End date: {{project.endDate}}</h3>
<h3>About this project:</h3>
{{project.description}}
<br>
<h2>Contribute to this project</h2>
<form method="POST">
  <div class="form-group">
    <input type="text" class="form-control" name="name" placeholder="Your Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="comment" placeholder="Your comment">
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control" name="amount" placeholder="Amount">
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<br>
<h2>Contributions</h2>

{{#each contributions}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{name}} | ${{amount}}</h3>
  </div>
  <div class="panel-body">
    {{comment}}
  </div>
</div>
{{/each}}