{{#if msg}}
{{> thankyou msg="Thank you for your contribution"}}
{{/if}}
<h1>Project: {{project.title}}</h1>
<h3>Category: {{project.category}}</h3>
<h3>Fundraising goal: <span id="goal">${{project.goalAmount}}</span></h3>
<h3>Total contributions: <span id="raised">${{project.totalContribution}}</span></h3>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{project.totalContribution}}" aria-valuemin="0" aria-valuemax="{{project.goalAmount}}" style="width: {{percentageyo}}%;">
  <span id='progress'>{{percentageyo}}</span>%
  </div>
</div>
<h3>Start date: {{project.startDate}}</h3>
<h3>End date: {{project.endDate}}</h3>
<h3>About this project:</h3>
{{project.description}}
<br>
<h2>Contribute to this project</h2>
<form id="contribForm" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" name="name" placeholder="Your Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="comment" placeholder="Your comment">
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control" name="amount" placeholder="Amount">
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<br>
<h2>Contributions</h2>
<div id="contributions">
{{#each contributions}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{name}} | <span class="panelHeader">${{amount}}</span></h3>
  </div>
  <div class="panel-body">
    {{comment}}
  </div>
</div>
{{/each}}
</div>

<script>
$('#contribForm').on('submit', function(e) {
  console.log("hi abhi");
  e.preventDefault();
  var target = $(e.target); // could've used $('#contribForm') instead of target
  var inputs = target.find('input'); // for other input elements do target.find('input, textarea'); 
  // you could also do $("#contribForm input") instead of target.find('input');
  var contrib = {};
  inputs.each(function(i,inputElement) {
      var val = $(inputElement).val();
      var keyname = $(inputElement).attr('name'); // this name is what the input name="name"
      contrib[keyname] = val;
  });
  $.ajax('/api/projects/{{project._id}}/contribute', {
    method: 'post',
    data: contrib,
    success: function() {
   
    var raised = parseInt($('#raised').text());
    raised += parseInt(contrib.amount);
    $('#raised').text(raised);

    var goal = $('#goal').text();
    var progress = Math.round(raised / goal * 100);
    $('#progress').text(progress);
    $('.progress-bar').css('width', '' + progress + '%');

    var outerDiv = $('<div class="panel panel-default">');
    var headingDiv = $('<div class="panel-heading">');
    outerDiv.append(headingDiv);
    var amountSpan = $('<span class="panelHeader">');
    amountSpan.text('$' + contrib.amount);
    headingDiv.append(($('<h3 class="panel-title">')).append(contrib.name + ' | ').append(amountSpan));
    var bodyDiv = $('<div class="panel-body">');
    if (contrib.comment) {
    outerDiv.append((bodyDiv).text(contrib.comment));
    }
    $('#contributions').append(outerDiv);
  
    }
  });
  
});


</script>