<div>Project: {{project.title}}</div>
<div>Description: {{project.description}}</div>
<div>Goal: {{project.goal}}</div>
<div>Category: {{project.category}}</div>
<div>Start Date: {{project.start_date}}</div>
<div>End Date: {{project.end_date}}</div>
