<div class = "project">
    <li id = "projectSingle">
        Project: {{project.title}};
    </li>
    <li id = "categorySingle">
        Category: {{project.category}};
    </li>
    <li id = "goalSingle">
        Fundraising Goal: {{project.goal}};
    </li>
    <li id = "raisedSingle">
        Total Contributions: {{project.raised}};
    </li>
    <li id = "startSingle">
        Start date: {{project.start}};
    </li>
    <li id = "endSingle">
        End date: {{project.end}};
    </li>
    <li id = "descriptionSingle">
        About this project: {{project.description}};
    </li>
    <li >
        Contributions: {{project.raised}}
    </li>
