<div class="jumbotron">
  <h1>{{project.title}}</h1>
  <p>{{project.description}}</p>
  <p>{{project.goal}}</p>
  <p>{{project.raised}}</p>
  <p>{{project.category}}</p>
  <p>{{project.start_date}}</p>
  <p>{{project.end_date}}</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>



<!-- Note that this is not an each and this is for a single project! -->