<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
  <script type="text/javascript">
    // function print(){
    //
    // }
  </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <label>Profile for {{firstName}}</label>
      </br>
      <label>Middle name {{middleName}}</label>
      </br>
      <label>last name {{lastName}}</label>
      </br>
      <label>password {{password}}</label>
      </br>
      <label>repassword for {{repassword}}</label>
      </br>
      <label>Biography for {{bio}}</label>
      </br>
      <label>Alerts for newletter are {{newsLetter}}</label>
    </br>
    <label>Gender is {{gender}}</label>
    </div>
  </div>
</body>
</html>
