<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Welcome {{firstName}}</h1>
    </div>


    <label>First Name: {{firstName}}</label><br/>
    <label>Middle Initial: {{middleName}}</label><br/>
    <label for="exampleInputEmail1">Last Name: {{lastName}}</label><br/>
    <label for="exampleInputEmail1">Month Born: {{month}}</label><br/>
    <label for="exampleInputEmail1">Year Born: {{year}}</label><br/>
    <label for="exampleInputEmail1">Day Born: {{day}}</label><br/>
    <label for="exampleInputEmail1">Password: {{password}}</label><br/>
    <label for="exampleInputEmail1">Gender: {{gender}}</label><br/>
    <label>Biography: {{biography}}</label><br/>

  </div>
</body>
</html>
