<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <h1>Put your registration form here</h1>

    <div class="container">
      <div><strong>Errors:</strong>{{errors}}</div>
      <div> First Name: {{firstName}} </div>
      <div> Middle Initial: {{middleInitial}} </div>
      <div> Last Name: {{lastName}} </div>
      <div> DOB Month: {{DOBMonth}} </div>
      <div> DOB Day: {{DOBDay}} </div>
      <div> DOB Year: {{DOBYear}} </div>
      <div> Password: {{password}} </div>
      <div> Repeat Password: {{repeatPassword}} </div>
      <div> Sign Up: {{signup}} </div>
      <div> Bio: {{bio}} </div>
      <div> User Registration Date: {{userRegDate}} </div>

      </div>

</body>
</html>
