<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>
{{firstName}}
{{lastName}}
      </h1>
is a {{gender}} born on {{DOBMonth}}/{{DOBDay}}/{{DOBYear}}.
<br>
They want their newsletter turned {{newsletter}}


    </div>
  </div>
</body>
</html>
