<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>First Name:{{body.firstName}}</h1>
      <h1>Last Name:{{body.lastName}}</h1>
      <h1>Middle Initial:{{body.middleInitial}}</h1>
      <h1>Month:{{body.dobMonth}}</h1>
      <h1>Day:{{body.dobDay}}</h1>
      <h1>Year:{{body.dobYear}}</h1>
      <h1>Gender:{{body.optradio}}</h1>
      <h1>bio:{{body.Bio}}</h1>
    </div>
  </div>
</body>
</html>
