<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Put your user profile here</h1>
    </div>
    First name: {{firstName}}
    <br/>
    Initial: {{mInitial}}
    <br/>
    Last name: {{lastName}}
    <br/>
    Month: {{month}}
    <br/>
    Day: {{day}}
    <br/>
    Year: {{year}}
    <br/>
    Password: {{password}}
    <br/>
    Password Confirmation: {{password2}}
    <br/>
    Gender: {{gender}}
    <br/>
    Newsletter subscribed?: {{newsletter}}
    <br/>
    Bio: {{bio}}
    <br/>
    Date registered: {{date}}
    <br/>

  </div>
</body>
</html>
