<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>User Profile</h1>
    </div>
    <ul>
      <li>First Name:{{firstName}}</li>
      <li>Middle Name:{{middleName}}</li>
      <li>Last Name:{{lastName}}</li>
      <li>Date of Birth:{{DOB-Month}}/{{DOB-Day}}/{{DOB-Year}}</li>
      <li>Gender:{{gender}}</li>
      <li>Bio:{{bio}}</li>

    </ul>
  </div>
</body>
</html>
