<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>User Profile</h1>
    </div>
    <ul>
      <li>First name: {{firstName}}</li>
      <li>Middle initial: {{middleInitial}}</li>
      <li>Last name: {{lastName}}</li>
      <li>Birth month: {{dob-Month}}</li>
      <li>Birth day: {{dob-Day}}</li>
      <li>Birth year: {{dob-Year}}</li>
      <li>Password: {{password}}</li>
      <li>Gender: {{gender}}</li>
      <li>Bio: {{bio}}</li>
    </ul>
  </div>
</body>
</html>
