<h1>{{project.title}}</h1>
<h3>Category: {{category}}</h3>
<h3>Fundraising goal: {{goal}}</h3>
<h3>Total contributions: {{raised}}</h3>
{{!-- Put in a progress bar thing here --}}
<h3>Start date: {{startDate}}</h3>
<h3>End date: {{endDate}}</h3>
<h3>About this project:<br> {{description}}</h3>
{{!-- Need to make a container for contributors and how much they gave --}}
<h3>Contributions</h3>

<h3>Contribute to this project:</h3>
<textarea placeholder="Your Name"></textarea><br>
<textarea placeholder="Comment"></textarea><br>
<textarea placeholder="Amount"></textarea>