<div>
	<div class="well">
	<h1><b>{{{project.title}}}</b></h1>
	<h3>Category: <i>{{{project.category}}}</i></h3>
	<p class="single">Fundraising goal: ${{{project.amount}}}</p>
	<p class="single">Start date: {{{project.start}}}</p>
	<p class="single">End date: {{{project.end}}}</p>
	<p class="single">{{{project.description}}}</p>
	</div>
</div>