<h1>Horizon Starter</h1>

<ul>
        <li>{{project.title}}</li>
        <li>{{project.description}}</li>
        <li>{{project.goal}}</li>
        <li>{{project.start}}</li>
        <li>{{project.end}}</li>
</ul>
