<h1>View Project</h1>

<script src="/js/contributions.js"></script>
<!-- Part 3: View a single project -->

<!-- YOUR CODE HERE -->
<ul>
  <li>{{this.title}}</li>
  <li>{{this.goal}}</li>
  <li>{{this.description}}</li>
  <li>{{this.start}}</li>
  <li>{{this.end}}</li>
  <li>{{this.category}}</li>
</ul>
<!-- Part 4: Contribute to a project -->



<!-- <form action="/project/{{this._id}}" method="post"> -->
<form>
  <input id = "contributor" type="text" name="name" placeholder="name" value="">
  <input id = "contribution-amount" type="number" name="amount" placeholder = "amount (number)" value="">
  <!-- <input type="submit" name="submit" value="Submit"></input> -->
  <button id="send-contribution" >Submit</button>
</form>



<h1>TOTAL CONTRIBUTIONS: {{this.totalContributions}}</h1>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{this.goalMet}}"
  aria-valuemin="0" aria-valuemax="100" style="width:{{this.goalMet}}%">
    <span class="sr-only">{{this.goalMet}}% Complete</span>
  </div>
</div>

{{#each this.contributions}}
{{this.name}}
{{this.amount}}
{{/each}}
