<form>
  <input type="text" value="{{usernameValue}}" name="username" placeholder="username..." />
  <input type="password" value="{{passwordValue}}" name="password" placeholder="password..." />
  <input type="text" value="{{nameValue}}" name="name" placeholder="name..." />
  <input type="radio" name="gender" value="{{gender}}"> Male<br>
  <input type="radio" name="gender" value="{{gender}}"> Female<br>
  <input type="radio" name="gender" value="{{gender}}"> Other
  <select name = "state" value="{{state}}">
    <option> 1 </option>
    <option> 2 </option>
  </select>
  <input type="submit" name="" value="Register"/>
</form>
