<h1>{{text}}</h1>
<form>
    Username: <input type="test" name="username" value="{{username}}"><br>
    Password: <input type="password" name="password" value="{{password}}"><br>
    Name: <input type="text" name="name" value="{{name}}"><br>
    Gender: <input type="text" name="gender" value="{{gender}}"><br>
    <input type="submit" name="" value="Submit">
</form>
