<form>
  <span>
    <input type="text" name="username" value={{userN}} ><br>
    <input type="password" name="password" value={{pass}} ><br>
    <input type="text" name="name" value="{{name}}" ><br>
    <input type="radio" name="gender" value="male" {{a}}> Male<br>
    <input type="radio" name="gender" value="female" {{b}}> Female<br>
    <input type="radio" name="gender" value="other" {{c}}> Other<br>
    <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select><br>
    <input type="submit" value="Register"/>
  </span>
</form>
