<form>
  <!-- <span> -->
    <input type="text" name="username" value="{{user}}">
    <input type="password" name="password" value="{{password}}">
    <input type="text" name="name" value="{{name}}">
    <input type="radio" name="gender" value="{{gender}}" checked={{isMale}}> Male<br>
    <input type="radio" name="gender" value="Female" checked={{isFemale}}> Female <br>
    <input type="radio" name="gender" value="Other"> Other
    <input type="submit" value="Register"/>
    <!-- <input type="text" name="name" value="{{name}}"> -->
  <!-- </span> -->
</form>
