<form>
  <span>
    <form>
      <input type="text" name="username" value="{{username}}">
      <input type="text" name="password" value="{{password}}">
      <input type="text" name="name" value="{{name}}">
      <input type="text" name="gender" value="{{gender}}">
      <input type="text" name="state" value="{{state}}">
      <input type="submit" value="Register"></input>
    </form>
  </span>
</form>
