<form>
  <span>
  
  		<div>
	      <input  name="username" placeholder="username" type="text" value="{{username}}">
	    </div> 
	    <div>
	      <input  name="password" placeholder="password" type="text" value="{{password}}">
        </div> 
	      <input  name="name" placeholder="name" type="text" value="{{name}}">
	    </div> 
	    <div>
	      <label>
                <input type="radio" name="gender" value="{{gender}}"> Male
          </label>
          <label>
                <input type="radio" name="gender" value="{{gender}}"> Female
          </label>
          <label>
                <input type="radio" name="gender" value="{{gender}}"> Other
          </label>
        </div> 
	    <div >
	      <select  name="state" value="{{state}}">
                <option>Please select your state</option>
                <option>Alabama</option>
                <option>Alaska</option>
                <option >Arizona</option>
                <option >Arkansas</option>
                <option >California</option>
                <option >Colorado</option>
                <option >Connecticut</option>
                <option >Delaware</option>
                <option >District of Columbia</option>
                <option> Florida</option>
                <option >Georgia</option>
                <option >Hawaii</option>
                <option >daho</option>
                <option >Illinois</option>
                <option >Indiana</option>
                <option >Iowa</option>
                <option> Kansas</option>
                <option >Kentucky</option>
                <option >Louisiana</option>
                <option>Maine</option>
                <option >Maryland</option>
                <option> Mass</option>
                <option >Michigan</option>
                <option >Minnesota</option>
                <option>Mississippi</option>
                <option>Missouri</option>
                <option>Montana</option>
                <option>Nebraska</option>
                <option>Nevada</option>
                <option>New Hampshire</option>
                <option>New Jersey</option>
                <option>New Mexico</option>
                <option>New York</option>
                <option>North Carolina</option>
                <option>North Dakota</option>
                <option>Ohio</option>
                <option>Oklahoma</option>
                <option>Oregon</option>
                <option>Pennsylvania</option>
                <option>Rhode Island</option>
                <option>South Carolina</option>
                <option>South Dakota</option>
                <option>Tennessee</option>
                <option>Texas</option>
                <option> Uttah</option>
                <option>Vermont</option>
                <option>Virginia</option>
                <option >Washington</option>
                <option >West Virginia</option>
                <option>Wisconsin</option>
                <option >Wyoming</option>
              </select>
              </div> 
	    <div>
              <input  name="register" value="Register" type="submit">
              </div> 
       </span>
</form>


  </span>
</form>