<form>
  <span>
      <input type="text" name="username" value={{username}}> username <br>
      <input type="password" name="password" value={{password}}> password<br>
      <input type="text" name="name" value={{name}}> name <br>
      <input type="radio" name="gender" value="male" {{isMale}}> Male<br>
      <input type="radio" name="gender" value="female" {{isFemale}}> Female<br>
      <input type="radio" name="gender" value="other" {{isOther}}> Other<br>
      <select>
        <option value="state"> California</option>
        <option value="state">New York</option>
        <option value="state">Jersey</option>
        <option  value="other">some other fucking state</option>
      </select>
      <input type="submit" name=" " value="Register"><br>
Try it Yourself »

  </span>
</form>
