
<form>
  <!-- YOUR CODE HERE -->
<!-- {{#if text}}
<h1>{{text}}</h1>
{{else}} -->
<h1>Register</h1>
{{/if}}
<div>
<input type = "text" name = "username" value = "{{username}}" placeholder = "username" ></div>
<div>
<input type = "text" name = "password" value = "{{password}}" placeholder = "password"></div>
<div>
<input type = "text" name = "name" value = "{{name}}" placeholder = "name"></div>
<div>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
</div>
<div>
<input type = "submit" value = "Submit form" ></div>



</form>
