<h2>{{project.title}}</h2> <br>
<h4>
	Category: {{project.category}} <br>
	Description: {{project.description}} <br>
	Goal: ${{project.goal}} <br>
	Start Date: {{project.startDate}} <br>
	End Date: {{project.endDate}} <br>
</h4>