<h2 style="text-align:center;">{{project.title}}</h2> <br>
<h4>
	Description: {{project.description}} <br>
	Goal: ${{project.goal}} <br>
	Raised so far: ${{project.raised}}
	<div class="progress">
	  <div class="progress-bar progress-bar-striped active" id="progress"
	  aria-value="0" aria-valuemin="0" aria-valuemax="100" style="width:{{project.progress}}%;">
	  </div>
	</div>
	Category: {{project.category}} <br>
	Start Date: {{project.startDate}} <br>
	End Date: {{project.endDate}} <br>
</h4>
{{#each project.contributions}}
<div class="well">
	<h5>
		{{name}} contributed ${{amount}} on {{date}}<br></h5>
		<h6>{{note}}</h6>
</div>
{{/each}}
<h3 style="text-align:center;">Make your contribution!</h3>
<form  method="POST">
  	<div class="form-group row">
	    <label class="col-sm-2 form-control-label">Name</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" name="name" placeholder="Name">
	    </div>
  	</div>
  	<div class="form-group row">
	    <label class="col-sm-2 form-control-label">Amount (USD)</label>
	    <div class="col-sm-8">
	      <input type="number" class="form-control" name="amount" placeholder="Amount you wish to contribute">
	    </div>
  	</div>
  	<div class="form-group row">
	    <label class="col-sm-2 form-control-label">Note</label>
	    <div class="col-sm-8">
	      <textarea type="text" class="form-control" name="note" placeholder="Add a note for the project creator" rows="3"></textarea>
	    </div>
  	</div>
	<button type="submit" class="btn btn-primary">Contribute</button> 
</form>