<div class="container" id = "id" idReal = {{_id}}>
  <div class="col-xs-5">
    <h1>View Project</h1>
  </div>
  <div class="col-xs-7">
    <img src="{{image}}" style="height: 40%; width: 40%">
  </div>

</div>
<!-- Part 3: View a single project -->
<div class="col-xs-3">
  <h3> Title: {{title}} </h3>
</div>
<div class="col-xs-9" id="notification">

</div> <br>
<div class="">
  <div class="col-xs-12">
    <a href="/project/{{_id}}/edit"><button class="btn btn-default">Edit</button></a>
  </div> <br>

  <p> Goal: {{goal}} </p>
  <p> Description: {{description}} </p>
  <p> Start: {{start}}</p>
  <p> End: {{end}}</p>
  <p> Category: {{category}}</p>
</div>


<!-- YOUR CODE HERE -->

<!-- Part 4: Contribute to a project -->

<!-- YOUR CODE HERE -->
<h4> Progress: </h4>
<div class="" id="total">
  Total Contributions: {{total}}
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}"
  aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%">
    <span class="sr-only">{{percent}}% Complete</span>
  </div>
</div>
<h5> Make a Contribution: </h5>
<form method="POST">
  <input id = "contributorName" type="text" name="contributorName" placeholder="name" value="{{contributorName}}">
  <input id = "amount" type="number" min="0" name="amount" placeholder="0" value="{{amount}}"> <br>
  <input type = "submit" id="send-contribution" value="Make a Contribution">
</form>


<h6> Contributions </h6>
<ul id="contributionList">
  {{#each contributions}}
    <li> Name: {{name}}, Amount: {{amount}}</li>
  {{/each}}
</ul>


<a href="/"><button type="button" name="button">Back to Projects</button></a>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="/js/contributions.js"></script>
