<!DOCTYPE html>
<html>
  <head>
<script src="/js/contributions.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>View Single Project</h1>
    <!-- Part 3: View a single project -->

    <!-- YOUR CODE HERE -->
    {{#each project}}
    <p>------------------------------------------------------------------------------------------------------------</p>

    <p> Name of Project: {{this.title}} </p>
    <p> Estimated Amount: {{this.goal}} </p>
    <p> Description of Project: {{this.description}} </p>
    <p> Start Date: {{this.start}} </p>
    <p> End Date: {{this.end}} </p>
    <p> Contributions Amount: {{#each contributions}}<li>{{amount}}</li>{{/each}} </p>
    <p> Contributor's Name: {{#each contributions}}<li>{{name}}</li>{{/each}} </p>

    {{/each}}

    <!--Progress Bar-->
    <div class="container">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{this.total}}" aria-valuemin="0" aria-valuemax='{{this.goal}}' style="width:{{percent}}%">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>
    </div>

    <!-- Part 4: Contribute to a project -->

    <!-- YOUR CODE HERE -->
    <h1>You're Making Contributions!</h1>
    <form method="post">
      <input type='text' name='contributorName' placeholder="name-of-contributor.." value={{newContributorName}}>
      <input type='submit' id='amountContributed' name='contributedAmount' placeholder="$$.." value={{newAmount}}>
      <input type='submit' name='submit'>
    </form>

  </body>
</html>
