<h1>View Project</h1>

<!-- Part 3: View a single project -->

<!-- YOUR CODE HERE -->
<ul class="project" id="{{project._id}}">
  <li> Title: {{project.title}}</li>
  <li> Goal: {{project.goal}} </li>
  <li> startDate: {{start}} </li>
  <li> endDate: {{end}} </li>
  <li> Number of Contributions: <span id='contriNum'>{{contriNum}}</span></li>
  <li> Category: {{category}}</li>
  <li>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{percentage}}"
      aria-valuemin="0" aria-valuemax="100" style="width:{{percentage}}%">
        <span class="sr-only">{{percentage}} Complete</span>
      </div>
    </div>
  </li>
</ul>
<!-- Part 4: Contribute to a project -->
<form id="contributionForm" class='newInput' data-project-id="{{project._id}}">
  name:<input name='name' type="text"/>
  amount:<input name='amount' type="number"/>
  <button type="submit">Add Contribution</button>
</form>
<form action='/project/{{project._id}}/edit'>
  <input type="submit" value="Edit"/>
</form>
<!-- YOUR CODE HERE -->
