

<ul class="nav nav-pills">
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle active" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="/sort?sort=title">Title</a>
      <a class="dropdown-item" href="/sort?sort=goal&amp;sortDirection=decending">Goal</a>
      <a class="dropdown-item" href="/sort?sort=category">Category</a>
    </div>
    </div>
  </div>
</ul>

<div class="text-center" id="logo">
  <img src="././css/Kapital.png">
</div>

<!-- Part 1: View all projects -->
{{#each allProjects}}

<div class="jumbotron col-md-3 text-center">
<h3><a href="/project/{{this._id}}">{{this.title}}</a></h3>
<p><strong>Goal:</strong> ${{this.goal}}</p>
<p><strong>Category:</strong> {{this.category}}</p>
<p><strong>Description:</strong> {{this.description}}</p>
<p>{{this.start}} to {{this.end}}</p>
<p><a href="/project/{{this._id}}/edit">Edit</a></p>
</div>

{{/each}}

<div class="cd-md-12 text-center" id="footer">

<a href="/new"><button type="button" class="btn btn-primary btn-lg">Create New Project</button></a>
