+<ul>
 +  {{#each items}}
 +    <div class = "container eachPost"><h3>{{this.title}}</h3></p>
 +    <p> Goal: {{this.goal}}</p>
 +    <p> Description: {{this.description}}</p>
 +    <p> Start Date: {{this.start}}</p>
 +    <p> End Date: {{this.end}}</p>

 +      <a href="/project/{{this._id}}">View </a>
 +
 +</div>
 +    </br>
 +  {{/each}}
 +
 +</ul>
 +<a href='http://localhost:3000/new?'>Create new project</a>
