<h2>Edit project</h2>

<!-- Part 2: Create project -->
<div class="panel panel-info" style="width:60%">
  <div class="panel-heading">New Project</div>
  <div class="panel-body">
    {{#if error}}
    <div class="alert alert-danger">
      <strong>Error</strong> No category specified
    </div>
    {{/if}}
    <form method="post" action="/project/{{project._id}}/edit">
      <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control" placeholder="" value="{{project.title}}">
      </div>
      <div class="form-group">
        <label>Goal</label>
        <input type="text" name="goal" class="form-control" placeholder="" value="{{project.goal}}">
      </div>
      <div style="display:flex">
        <div class="form-group" style="flex:1">
          <label>Start</label>
          <input type="date" name="start" class="form-control" style="width:60%" value={{project.start}}>
        </div>
        <div class="form-group" style="flex:1">
          <label>End</label>
          <input type="date" name="end" class="form-control" style="width:60%" value={{project.end}}>
        </div>
      </div>
      <div class="form-group">
        <div class="dropdown">
          <select class="selectpicker" id="dropdown" data-style="btn-info" name="selectpicker">
            <optgroup label="Category">
              <option name="" value="0">Category</option>
              <option name="table1" value="Famous Muppet Frogs">Famous Muppet Frogs</option>
              <option name="table2" value="Current Black Presidents">Current Black Presidents</option>
              <option name="table3" value="The Pen Is Mightier">The Pen Is Mightier</option>
              <option name="table3" value="Famous Mothers">Famous Mothers</option>
              <option name="table3" value="Drummers Named Ringo">Drummers Named Ringo</option>
              <option name="table3" value="1-Letter Words">1-Letter Words</option>
              <option name="table3" value='Months That Start With "Feb"'>Months That Start With "Feb"</option>
              <option name="table3" value="How Many Fingers Am I Holding Up">How Many Fingers Am I Holding Up</option>
              <option name="table3" value="Potent Potables">Potent Potables</option>
            </optgroup>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="comment">Description</label>
        <textarea class="form-control" name="description" rows="5">{{project.description}}</textarea>
      </div>
      <input type="submit" class="btn btn-info" value="Submit">
  </div>
</div>
