<h2>Edit a Current Project</h2>

<form action="/project/{{project.id}}/edit" method="post" class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">title:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="title" value="{{project.title}}">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">goal:</label>
    <div class="col-sm-10"> 
      <input type="number" class="form-control" value="{{project.goal}}" name="goal">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">description:</label>
    <div class="col-sm-10"> 
      <textarea class="form-control" name="description">{{project.description}}</textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">start:</label>
    <div class="col-sm-10"> 
      <input type="date" class="form-control" value="{{project.startDateStr}}" name="start">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">end:</label>
    <div class="col-sm-10"> 
      <input type="date" class="form-control" value="{{project.endDateStr}}" name="end">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Project Category: </label>
    <div class="col-sm-10"> 
     <select name="category">
       <option>Famous Muppet Frogs</option>
       <option>Current Black Presidents</option>
       <option>The Pen Is Mightier</option>
       <option>Famous Mothers</option>
       <option>Drummers Named Ringo</option>
       <option>1-Letter Words</option>
       <option>Months That Start With "Feb"</option>
       <option>How Many Fingers Am I Holding Up</option>
       <option>Potent Potables</option>
     </select>
	 </div>
  </div>

  

  <div class="form-group">
  	<div class="col-sm-10">
  	</div>
  	<div class="col-sm-2">
  		<button type="submit" class="btn btn-default">Submit</button>
  	</div>
  </div>

  <input style="display: none" class="form-control" value="{{project.contributions}}" name="contributions">

  <input style="display: none" class="form-control" value="{{project.contrSoFar}}" name="contrSoFar">

  <input style="display: none" class="form-control" value="{{project.contrPercent}}" name="contrPercent">

</form>

<div class="col-sm-10"></div>
<a href="/" class="col-sm-2">Return Home</a>