<h2>Create project</h2>

<div class="container">
<!-- Part 2: Create project -->
<div class="row">
<form id="myForm" method="post" action="/project/{{project.id}}/edit">
   <div class="form-group">
     <label for="title"> Title </label>
     <input type="text" class="form-control" name="title" placeholder="Title" value="{{project.title}}">
   </div>
   <div class="form-group">
    <label for="goal"> Goal </label>
    <input type="text" class="form-control" name="goal" placeholder="Goal" value="{{project.goal}}">
  </div>
  <div class="form-group">
    <label for="description"> Description </label>
    <textarea class="form-control" rows="4" cols="50" name="description" placeholder="Tell us about your project!" form="myForm">{{project.description}}</textarea>
  </div>
  <div class="form-group">
    <label for="start"> Start </label>
    <input type="date" class="form-control" name="start" value="{{start}}">
  </div>
  <div class="form-group">
    <label for="end"> End </label>
    <input type="date" class="form-control" name="end" value="{{end}}">
  </div>
  <!-- Part 5: Project categories -->
  <select class="form-control" name="category">

      {{#each options}}
          {{#if_eq this ../project.category}}
            <option value="{{this}}" selected="selected">{{this}}</option>
          {{else}}
            <option value="{{this}}">{{this}}</option>
          {{/if_eq}}
      {{/each}}

  </select>
   <input type="submit" class="btn btn-default">
 </form>

 </div>

 </div>
