<h2>Edit project</h2>

<!-- Exercise 2: Create project -->
<!-- Exercise 5: Project categories -->
<!-- YOUR CODE HERE -->

<form action="/project/{{project.id}}/edit" method="post">

  {{#if errors}}
    {{#each errors}}
      <div><strong>Errors:</strong>{{msg}}</div>
    {{/each}}
  {{/if}}

  <div class="form-group">
    <label>Project Title</label>
    <input type="text" class="form-control" name="projectEditTitle" placeholder="Project Title" value="{{project.title}}">
  </div>
  <div class="form-group">
    <label>Project Goal</label>
    <input type="text" class="form-control" name="projectEditGoal" placeholder="Project Goal" value="{{project.goal}}">
  </div>
  <div class="form-group">
    <label>Project Description</label>
    <textarea class="form-control" rows="6" name="projectEditDescription">{{project.description}}</textarea>
  </div>
  <div class="form-group">
    <label>Project Category</label>
    <div>
      <select class="form-control" name="projectEditCategory">
        {{#each categories}}
          {{#if selected}}
              <option selected>{{option}}</option>
          {{else}}
              <option>{{option}}</option>
          {{/if}}
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label>Project Start Date</label>
    <input type="date" class="form-control" name="projectEditStart" value="{{start}}">
  </div>
  <div class="form-group">
    <label>Project End Date</label>
    <input type="date" class="form-control" name="projectEditEnd" value="{{end}}">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<a href="/">Go back to all projects</a>
