<h2>Edit project</h2>
{{#if error}}
<p class = 'errMsg'>{{errormessage}}</p>
{{/if}}
<form method = "POST" action="/project/{{project_id}}/edit" class="form">
  <input type="text" name="title" value="{{title}}" placeholder='title'><br>
  <input type="number" name="goal" value="{{goal}}" placeholder="goal"><br>
  <textarea rows="4" cols="50" name='description' value="{{description}}"placeholder="description">{{description}}</textarea><br>
  <input type="date" name="start" value="{{start}}"></input><br>
  <input type="date" name="end" value="{{end}}"><br>
  Categories:
  <select name='category'>
  <option name="muppet">Famous Muppet Frogs</option>
  <option name="presidents">Current Black Presidents</option>
  <option name="pen">The Pen Is Mightier</option>
  <option name="mothers">Famous Mothers</option>
  <option name="drummers">Drummers Named Ringo</option>
  <option name="word">1-Letter Word</option>
  <option name="feb">Months That Start With "Feb"</option>
  <option name="fingers">How Many Fingers Am I Holding Up</option>
  <option name="potables">Potent Potables</option>
</select><br>
  <input type="submit" name="submit" value="submit"><br>

</form>
