<h2 style="text-align:center;">Edit Project</h2>

<!-- Part 2: Create project -->
<p>{{error}}</p>
<form method="post" action="/new" class="form-horizontal" id="form">
  <div class="form-group">
    <label for="title" class="col-sm-5 control-label">Title: </label>
    <div class="col-sm-6">
      <input type="text" name="title" value="{{title}}">
    </div>
  </div>
  <div class="form-group">
    <label for="goal" class="col-sm-5 control-label">Goal: </label>
    <div class="col-sm-6">
      <input type="number" name="goal" value="{{goal}}">
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-5 control-label">Description: </label>
    <div class="col-sm-6">
      <textarea name="comment" form="new_proj" value="{{description}}"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="start" class="col-sm-5 control-label">Start: </label>
    <div class="col-sm-6">
      <input type="date" name="start" value="{{start}}">
    </div>
  </div>
  <div class="form-group">
    <label for="end" class="col-sm-5 control-label">End: </label>
    <div class="col-sm-6">
      <input type="date" name="end" value="{{end}}">
    </div>
  </div>
  <div class="form-group">
    <label for="category" class="col-sm-5 control-label">Category: </label>
    <div class="col-sm-6">
      <input list="category" name="category" value="{{category}}">
        <datalist id="category">
          <option value='Famous Muppet Frogs'>
          <option value='Current Black Presidents'>
          <option value='The Pen Is Mightier'>
          <option value='Famous Mothers'>
          <option value='Drummers Named Ringo'>
          <option value='1-Letter Words'>
          <option value='Months That Start With "Feb"'>
          <option value='How Many Fingers Am I Holding Up'>
          <option value='Potent Potables'>
        </datalist>
    </div>
  </div>
  <div class="col-sm-offset-4">
    <input type="submit" class="col-sm-5 col-sm-offset-3" name="Submit" value="Submit">
  </div>
</form>

<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
