<h2>Edit project</h2>


<form action="/project/{{id}}/edit" method="post">
  <input type="text" name="title" value="{{project.title}}" placeholder="Title">
  <input type="Number" name="goal" value="{{project.goal}}" placeholder="Goal">
  <textarea name="description" rows="8" cols="80" placeholder="Enter Description" value = "{{project.description}}"></textarea>
  <input type="date" name="startDate" value='{{project.start}}'>
  <input type="date" name="endDate" value='{{project.end}}'>

  <select name="category" value='{{project.category}}'>
    <option value="Famous Muppet Frogs">Famous Muppet Frogs</option>
    <option value="Current Black Presidents">Current Black Presidents</option>
    <option value="The Pen Is Mightier">The Pen Is Mightier</option>
    <option value="Famous Mothers">Famous Mothers</option>
    <option value="Drummers Named Ringo">Drummers Named Ringo</option>
    <option value="1-Letter Words">1-Letter Words</option>
    <option value="Months That Start With "Feb"">Months That Start With "Feb"</option>
    <option value="How Many Fingers Am I Holding Up">How Many Fingers Am I Holding Up</option>
    <option value="Potent Potables">Potent Potables</option>
  </select>

<button type="submit" name="submitNewProject">Submit</button>
</form>
