<h2>Edit project</h2>

<!-- Exercise 2: Create project -->
<!-- Exercise 5: Project categories -->
<!-- YOUR CODE HERE -->
{{#each errors}}
<p>{{this.msg}}</p>
{{/each}}

<form method="POST">
  <p><label>Title</label>
  <input name="title" placeholder="Title" type="text" value="{{title}}"></p>
  <p><label>Goal</label>
  <input name="goal" placeholder="Goal" type="text" value="{{goal}}"></p>
  <p><label>Description</label>
  <input name="description" placeholder="Description" type="textarea" value="{{description}}"></p>
  <p><label>Start</label>
  <input name="start" placeholder="Start" type="date" value="{{start}}"></p>
  <p><label>End</label>
  <input name="end" placeholder="End" type="date" value="{{end}}"></p>
  <select name="category">
    <option value="" disabled="disabled" selected="selected">Please select a category</option>
    <option value="Famous Muppet Frogs">Famous Muppet Frogs</option>,
    <option value="Current Black Presidents">Current Black Presidents</option>,
    <option value="The Pen Is Mightier">The Pen Is Mightier</option>
    <option value="Famous Mothers">Famous Mothers</option>,
    <option value="Drummers Named Ringo">Drummers Named Ringo</option>,
    <option value="1-Letter Words">1-Letter Words</option>,
    <option value="Months That Start With &quot;Feb&quot;">Months That Start With "Feb"</option>,
    <option value="How Many Fingers Am I Holding Up">How Many Fingers Am I Holding Up</option>,
    <option value="Potent Potables">Potent Potables</option>
  </select>
  <input type="submit">
</form>
