<h2>Edit project</h2>

{{#each errors}}
  {{this.msg}}
{{/each}}
<form action="/project/{{project._id}}/edit" method="post">
  <label for="title"> Title </label>
  <input type="text" name="title" value="{{project.title}}">
  <label for="goal">Goal</label>
  <input type="text" name="goal" value="{{project.goal}}">
  <label for="description"> Description </label>
  <textArea rows="4" cols="50" name="description">{{project.description}}</textArea>
  <label for="start"> Start Date </label>
  <input type="date" name="start" value="{{project.start}}">
  <label for="end"> End Date </label>
  <input type="date" name="end" value="{{project.end}}">
  <label for="category"> Category </label>
  <input list="category" name="category" placeholder="{{project.category}}">
  <datalist id="category">
    <option value="Famous Muppet Frogs">
    <option value="Current Black Presidents">
    <option value="The Pen Is Mightier">
    <option value="Famous Mothers">
    <option value="Drummers Named Ringo">
    <option value="1-Letter Words">
    <option value="Months That Start With 'Feb'">
    <option value="How Many Fingers Am I Holding Up">
    <option value="Potent Potables">
  </datalist>
  <input type="submit" class="button" value="Save Edits">
</form>
