<form class="" action="/" method="post">
  <div class="form-group">
    <label class="col-md-4 control-label">Title: </label>
    <input class="form-control col-md-4" type="text" name="title" value="{{title}}" placeholder="Title">
  </div>
  <div class="form-group">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Category<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Famous Muppet Frogs</a></li>
          <li><a href="#">Current Black Presidents</a></li>
          <li><a href="#">The Pen Is Mightier</a></li>
          <li><a href="#">Famous Mothers</a></li>
          <li><a href="#">Drummers Named Ringo</a></li>
          <li><a href="#">1-Letter Words</a></li>
          <li><a href="#">Months That Start With "Feb"</a></li>
          <li><a href="#">How Many Fingers Am I Holding Up</a></li>
          <li><a href="#">Potent Potables</a></li>
        </ul>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label">Goal: </label>
    <input class="form-control" type="text" name="goal" value="{{goal}}" placeholder="Goal">
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label">Description:</label>
    <textarea class="form-control" name="description" placeholder="Description">{{description}}</textarea>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label">Start Date: </label>
    <input class="form-control" type="date" name="start" value="{{start}}">
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label">End Date: </label>
    <input class="form-control" type="date" name="end" value="{{end}}">
  </div>
  <div class="form-group">
    <button type="submit">Submit</button>
  </div>

</form>
