<!-- Exercise 2: Create project -->
<!DOCTYPE html>
<html>
<head>
 <title>Create Project</title>

 <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

 <style>
   body { background-color: white; padding-top: 2em;}
 </style>
</head>
<body>
  {{#if errors}}
  {{#each errors}}
  <div class='alert alert-danger'>{{msg}}</div>
  {{/each}}
  {{/if}}
 <div class="container">
   <h1>New Project</h1>
   <div class="row">
     <form action="/new" method="post">
       <input type="text" placeholder="Title" name="title" value="{{project.title}}" required>
       <input type="text" placeholder="Goal" name="goal" value="{{project.goal}}"required>
       <input type="textarea" placeholder="description" name="desc" value="{{project.description}}">
       <input type="date" name="start" value="{{project.start}}" required>
       <input type="date" name="end" value="{{project.end}}" required>

       <input type='submit' >
     </form>
     <div class='form-group'>
       <label for="category">Category</label>
       <select id="category" name="category" class= "form-control">
         <option>Famous Muppet Frogs</option>
         <option>Current Black Presidents</option>
         <option>The Pen Is Mightier</option>
         <option>Famous Mothers</option>
         <option>Drummers Named Ringo</option>
         <option>1-Letter Words</option>
         <option>Months That Start With "Feb"</option>
         <option>How Many Fingers Am I Holding Up</option>
         <option>Potent Potables</option>
       </select>
     </div>
   </div>
 </div>
</body>
</html>
<!-- Exercise 5: Project categories -->
<!-- YOUR CODE HERE -->
