<style media="screen">
  label{
    border: none !important;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  button{
    align-self: flex-end;
    border-radius: 10px;
  }
</style>

<h2>Create project</h2>

<form action="/project/{{id}}/edit" method="post" class="container">
    <div class="form-group">
      <label for="" class="form-control">Title: </label>
      <input type="text" class="form-control" name="title" value="{{a.title}}">
    </div>
    <div class="form-group">
      <label for="" class="form-control">Goal: </label>
      <input type="text" class="form-control" name="goal" value="{{a.goal}}">
    </div>
    <div class="form-group">
      <label for="" class="form-control">Description: </label>
      <textarea name="description" rows="8" cols="160">{{a.description}}</textarea>
    </div>
    <div class="form-group">
      <label for="" class="form-control">Start: </label>
      <input type="Date" class="form-control" name="start" value="{{a.start}}">
    </div>
    <div class="form-group">
      <label for="" class="form-control">End: </label>
      <input type="Date" class="form-control" name="end" value="{{a.end}}">
    </div>
    <div class="form-group dropdown">
      <label for="" class="form-control">Category: </label>
      <select name="category" value="{{a.category}}">
        <option name="category" value="">--Select a Category--</option>
        <option name="category" value="Famous Muppet Frogs">Famous Muppet Frogs</option>
        <option name="category" value="Current Black Presidents">Current Black Presidents</option>
        <option name="category" value="The Pen Is Mightier">The Pen Is Mightier</option>
        <option name="category" value="Famous Mothers">Famous Mothers</option>
        <option name="category" value="Drummers Named Ringo">Drummers Named Ringo</option>
        <option name="category" value="1-Letter Words">1-Letter Words</option>
        <option name="category" value='Months That Start With "Feb"'>Months That Start With "Feb"</option>
        <option name="category" value="How Many Fingers Am I Holding Up">How Many Fingers Am I Holding Up</option>
        <option name="category" value="Potent Potables">Potent Potables</option>
      </select>
    </div>
    <button type="submit" name="button" class="btn-primary">Submit</button>
</form>
