
<form method='POST' action="/project/{{projId}}/edit">
  Title:<br>
  <input type="text" name="title" value={{title}}><br>
  Goal:<br>
  <input type="text" name="goal" value={{goal}}><br>
  Description:<br>
  <textarea name="description" value={{description}}>{{description}}</textarea><br>
  Category:<br><select id="category" name="category">
    <option>Famous Muppet Frogs</option>
    <option>Current Black Presidents</option>
    <option>The Pen Is Mightier</option>
    <option>Famous Mothers</option>
    <option>Drummers Named Ringo</option>
    <option>1-Letter Words</option>
    <option>Months That Start With "Feb"</option>
    <option>How Many Fingers Am I Holding Up</option>
    <option>Potent Potables</option>
  </select><br>
  Start:<br>
  <input type="date" name="start" value={{start}}><br>
  End:<br>
  <input type="date" name="end" value={{end}}><br>
  <br><button>Submit</button><br>

  <input type="hidden" id="categoryHolder" value="{{category}}">
</form>
{{#if error}}
  <div>
    {{#each error}}
      <li>{{msg}}</li>
    {{/each}}
  </div>
{{/if}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  var category = $('#categoryHolder').val()
  console.log(category)
  $('#category').val(category)
</script>
