<h2>Edit project</h2>

<form method="POST" action="/project/{{id}}">
  Title:
  <input type="text" name="title" value="{{project.title}}">
  Goal:
  <input type="text" name="goal" value="{{project.goal}}">
  Description:
  <textarea name="desc">{{project.description}}</textarea>
  Start:
  <input type="date" name="start" value="{{startDate}}">
  End:
  <input type="date" name="end" value="{{endDate}}">
  Project Category:
  <select name="picked" value={{project.category}}>
    <option>Famous Muppet Frogs</option>
    <option>Current Black Presidents</option>
    <option>The Pen Is Mightier</option>
    <option>Famous Mothers</option>
    <option>Drummers Named Ringo</option>
    <option>1-Letter Words</option>
    <option>Months That Start With 'Feb'</option>
    <option>How Many Fingers Am I Holding Up</option>
    <option>Potent Potables</option>
  </select>
  <input type="submit" value="Submit">
</form>
