<form action='/projects/{{project._id}}/edit' method = "Post" class="create-project">
  <select name="category">
    <option value="Potent Potables">Potent Potables</option>
    <option value="Current Black Presidents">Current Black Presidents</option>
    <option value="Famous Mothers">Famous Mothers</option>
    <option value="How Many Fingers am I Holding Up?">How Many Fingers am I Holding Up?</option>
  </select>
  {{errors}}
  <p>
    title
  <input type = "text" name="title" placeholder="title" value="{{project.title}}">
</p>
<p>
  goal
  <input type = "text" name="goal" placeholder="goal" value="{{project.goal}}">
</p>
<p>
  comments
  <textarea name = "description" rows="10" cols="20" placeholder="FUCK ME UP FAM">{{project.description}}</textarea>
  </p>
  <p>
    Start Date
<input type="date" name="start" value="{{project.start}}">
  </p>
  <p>
    End Date
<input type="date" name="end" value="{{project.end}}">
  </p>
  <p>
<button>Press me pls to submit ur shit</button>
  </p>
</form>
