

<!-- Part 2: Create project -->
<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
<style>
    body { background-color: indigo; padding-top: 2em;}
</style>
<body>
<div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2>edit project</h2>
  <!--   panel body -->
       <div class="panel panel-default">
         <div class="panel-body">
          <form class="form-horizontal" action="/new" method="post">
            <input type='text' value='{{project.title}}' name="title" placeholder="title">
            <input type='text' value='{{project.goal}}' name='goal' placeholder='goal'/>
            <div>
              <label class="col-sm-3 control-label">Description</label>
              <textarea type='text' value='{{project.description}}' name='description' rows="4" cols="58" placeholder='description'>
              </textarea>
            </div>
            <div>
              <label class="col-sm-3 control-label">Start</label>
              <input type='date' val="{{project.start}}" name="start" id="date"/>
            </div>
            <div>
              <label class="col-sm-3 control-label">End</label>
              <input type='date' name="end" val="{{project.end}}" id="date"/>
            </div>
            <select class="selectpicker" name='category'>
                  <option>Famous Muppet Frogs</option>
                  <option>Current Black Presidents</option>
                  <option>The Pen Is Mightier</option>
                  <option>Famous Mothers</option>
                  <option>Drummers Named Ringo</option>
                  <option>1-Letter Words</option>
                  <option>Months That Start With "Feb"</option>
                  <option>How Many Fingers Am I Holding Up</option>
                  <option>Potent Potables</option>
            </select>
            <div class="text-right">
              <a href="http://localhost:3000/"><button type="submit" class="btn btn-primary">submit</button></a>
            </div>
          </form>
        </div>
       </div>
     </div>
   </div>
  </div>
</body>
