<form action="/project/{{myProject._id}}/edit" method="POST">
  <select name = "category">
    <option selected>{{myProject.category}}</option>
    {{#each category}}
    <option>{{this}}</option>
    {{/each}}
  </select><br/><br/>
  <input type = "text" name = "title" placeholder = "Title" value = "{{myProject.title}}" required><br/><br/>
  <input type = "Number" name = "goal" placeholder = "Goal" value = "{{myProject.goal}}" required><br/><br/>
  <textarea type = "text" name = "description" placeholder = "Description">{{myProject.description}}</textarea><br/><br/>
  <input type = "date" name = "start" placeholder = "Start date" value = "{{myProject.start}}" required><br/><br/>
  <input type = "date" name = "end" placeholder = "End date" value = "{{myProject.end}}" required><br/><br/>
  <button type = "submit" name = "submit">submitttt boyyyy</button>
</form>

{{#if errors}}
<h4>Errors:</h4>
{{#each errors}}
<div>{{this.msg}}</div>
{{/each}}
{{/if}}
