<h1>Edit your Project </h1>
</br>
<form action = '/project/{{project._id}}/edit' method = 'post'>
  <input type= 'text' placeholder= 'Title' name= 'title' value="{{project.title}}"></input></br>
  <input type= 'Number' placeholder= 'Goal' name= 'goal' value="{{project.goal}}"></input></br>
  <input type= 'textarea' placeholder= 'Description' name= 'description' value="{{project.description}}"></input></br>
  <input placeholder= 'Start' name= 'start' type='date' value="{{start}}"></input></br>
  <input placeholder= 'End' name= 'end' type='date' value="{{end}}"></input></br>
  <select name="category">
    {{{selected project.category}}}
  </select></br>
  <input type='submit' name='submit' value='submit'></input>
</form>
