<h2>Create project</h2>

<!-- Part 2: Create project -->
<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
<form class = "form-group" method="POST" action="/project/{{myProject._id}}/edit">
  <div class = "form-group">
    <label for "title">Project Title: </label>
    <input type='text' class = "form-control" name="title" id= "title" value="{{myProject.title}}"/>
  </div>
  <div class = "form-group">
  <label> Select a category: </label>
  <select name="theRealCategory" class="form-control form-control-lg">
    <option value = "" name = "category">{{myProject.category}}</option>
    <option value = "Famous Muppet Frogs" name = "category">Famous Muppet Frogs</option>
    <option value = 'Current Black Presidents' name = "category" >Current Black Presidents</option>
    <option value = 'The Pen Is Mightier' name = "category">The Pen Is Mightier</option>
    <option value = 'Famous Mothers' name = "category">Famous Mothers</option>
    <option value = 'Drummers Named Ringo' name = "category">Drummers Named Ringo</option>
    <option value = '1-Letter Words' name = "category">1-Letter Words</option>
    <option value = 'Months That Start With "Feb"' name = "category" >Months That Start With "Feb"</option>
    <option value = 'How Many Fingers Am I Holding Up' name = "category" >How Many Fingers Am I Holding Up</option>
    <option value = 'Potent Potables'name = "category" >Potent Potables</option>
  </select>
</div>
  <div class = "form-group">
    <label for "goal">Goal: </label>
    <input type='text' class = "form-control" name="goal" id= "goal" value="{{myProject.goal}}"/>
  </div>
  <div class = "form-group">
    <label >Description: </label>
    <textarea rows="4" class = "form-control" cols="50" name = "description" value="">{{myProject.description}}</textarea>
  </div>
  <div class = "form-group">
    <label>Start Date: </label>
    <input type='date'class = "form-control" name="start" id="date" value="{{myProject.start.getUTCYear()}}-{{myProject.start.getUTCMonth()}}-{{myProject.start.getUTCDate()}}"/>
  </div>
  <div class = "form-group">
    <label>End Date: </label>
    <input type='date' class = "form-control" name="end" id="date" value="{{myProject.end}}"/>
  </div>
    <input type="submit" class = "form-control" name="" value="Submit">
  </form>
