<h2>Edit project</h2>
<form action="/project/{{id}}/edit" method="POST">
<input type="text" name="title" value="{{title}}" placeholder="title">
<input type="Number" name="goal" value="{{goal}}" placeholder="goal">
<input type="text" name="description" value="{{description}}" placeholder="description">
<input type="date" name="start" value="{{start}}" placeholder="MM/DD/YYYY">
<input type="date" name="end" value="{{end}}" placeholder="MM/DD/YYYY">

<input type="submit" class= "btn btn default" name="submit" value="Save Edited Project">
</form>

<a href="/">Return to home</a>
<!-- Part 2: Create project -->
<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
