<h2>Edit project</h2>

<!-- Exercise 2: Create project -->
<!-- Exercise 5: Project categories -->
<!-- YOUR CODE HERE -->
{{#each errors}}
<p>{{this.msg}}</p>
{{/each}}

<form method="POST">
  <p><label>Title</label>
  <input name="title" placeholder="Title" type="text" value="{{title}}"></p>
  <p><label>Goal</label>
  <input name="goal" placeholder="Goal" type="text" value="{{goal}}"></p>
  <p><label>Description</label>
  <input name="description" placeholder="Description" type="textarea" value="{{description}}"></p>
  <p><label>Start</label>
  <input name="start" placeholder="Start" type="date" value="{{startDateString}}"></p>
  <p><label>End</label>
  <input name="end" placeholder="End" type="date" value="{{endDateString}}"></p>
  <select name="category">
    {{{makeDropdown category catArray}}}
  </select>
  <input type="submit">
</form>
