<h2>Edit project</h2>

<!-- Part 2: Create project -->
<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->


<form method="POST" action="/project/{{projectid}}/edit">
  <input type="text" name="title" placeholder="title" value="{{title}}">
  <input type="text" name="goal" placeholder="goal" value="{{goal}}">
  <input type="textarea" name="description" placeholder="description" value="{{description}}">
  <input type="date" name="start" placeholder="start" value="{{start}}">
  <input type="date" name="end" placeholder="end" value="{{end}}">
  <select id="category" name="category" class="form-control">
    <option name="famousMuppetFrogs" value={{category}}>Famous Muppet Frogs</option>
    <option name="currentBlackPresidents" value={{category}}>Current Black Presidents</option>
    <option name="thePenIsMightier" value={{category}}>The Pen Is Mightier</option>
    <option name="famousMothers" value={{category}}>Famous Mothers</option>
    <option name="drummersNamedRingo" value={{category}}>Drummers Named Ringo</option>
    <option name="1-LetterWords" value={{category}}>1-Letter Words</option>
    <option name="monthsThatStartWithFeb" value={{category}}>Months That Start With "Feb"</option>
    <option name="howManyFingersAmIHoldingUp" value={{category}}>How Many Fingers Am I Holding Up</option>
    <option name="potentPotables" value={{category}}>Potent Potables</option>
  </select>
  <input type="submit" name="submit" value="submit">
</form>
