<h2>edit project</h2>
<div class="edit-form">
  <form action="/project/{{project._id}}/edit" method="post">
    <input class="title" type="text" name="title" placeholder="title" value="{{project.title}}"><br>
    <input class="goal" type="text" name="goal" placeholder="goal" value="{{project.goal}}"><br>
    <textarea name="description" placeholder="description..." value="{{project.description}}"></textarea><br>
    <input class="start" type="date" name="start" value="{{start}}"><br>
    <input class="end" type="date" name="end" value="{{end}}"><br></br>
    <select class="selectpicker" name="categories">
      <option value="{{selected}}" selected="selected">{{selected}}</option>
      {{#each enumArr}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select><br></br>
    <button class="btn" type="submit button" name="submit_project">update project</button>
  </form>
  <form class="create-form" action="/" method="get">
    <button class="btn" type="submit button" name="go_back">go back</button>
  </form>
</div>
