<h1>View projects</h1>

<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->
<div class="container">
  <div class="row">
    <form class="" method="get">
      <div class="col-xs-4 col-xs-offset-1">
        <label for="sorting">Sort by:</label>
        <select id="sorting" class="form-control" name="sort">
          <option value=""></option>
          <option value="start">Start Date</option>
          <option value="end">End Date</option>
          <option value="goal">Goal Amount</option>
        </select>
      </div>
      <div class="col-xs-4">
        <label for="sortingDirection">Direction:</label>
        <select id="sortingDirection" class="form-control" name="sortDirection">
          <option value="ascending"></option>
          <option value="ascending">up</option>
          <option value="descending">down</option>
        </select>
      </div>
      <div class="col-xs-2">
        <input type="submit" class="btn btn-primary align-bottom" name="" value="Sort">
      </div>
    </form>
  </div>
</div>
<div class="container">
  {{#each projects}}
      <div class="row well">
        <div class="col-xs-12">
          <a href="/project/{{this._id}}">
            <h2>{{this.title}}</h2>
          </a>
        </div>
        <div class="col-xs-12">
          <h3>{{this.categories}}</h3>
          <!-- TODO get categories to stop erroring -->
        </div>
        <div class="col-xs-6">
          <h4><em>Goal:</em> ${{this.goal}}</h4>
        </div>
        <div class="col-xs-8">
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" style="width:{{percent}}%">
              <!-- TODO finish this progress bar  -->
              Donation Goal {{percent}}% Complete
            </div>
          </div>
        </div>
        <div class="col-xs-12 ">
          <p>{{this.description}}</p>
        </div>
        <div class="col-xs-5">
          <p>Start Date: {{this.start}}</p>
        </div>
        <div class="col-xs-5">
            End Date: <p>{{this.end}}</p>
        </div>
      </div>



  {{/each}}
</div>


<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->

<a href="/new">Create new project</a>
