<h1>View projects</h1>

<!-- Exercise 1: View all projects -->
<!-- YOUR CODE HERE -->
{{#each items}}</br>
<div><h3>{{this.title}}</h1>
<span>{{this.goal}}</span>
<span>{{this.description}}</span>
<span>{{this.start}}</span>
<span>{{this.end}}</span></div>
  </br>{{/each}}


<!-- Exercise 2: Create new project -->
<!-- YOUR CODE HERE -->
<a href="http://localhost:3000/new">Create a new project</a>

<div>

</div>
