<h1>View projects</h1>

<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->

{{#each items}}
<div class="container eachPost">
  <h3>Title: {{this.title}}</h3>
  <p>Goal: {{this.goal}}</p>
  <p>Description: {{this.description}}</p>
  <p>Start date: {{this.start}}</p>
  <p>End date: {{this.end}}</p>
</div>
{{/each}}

<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
