<h1>View projects</h1>

<!-- Exercise 1: View all projects -->
<!-- YOUR CODE HERE -->
{{#each items}}
<div><strong>Title: </strong>{{this.title}}</div>
<div><strong>Category: </strong>{{this.category}}</div>
<div><strong>Goal: </strong>{{this.goal}}</div>
<div><strong>Description: </strong>{{this.description}}</div>
<div><strong>Start date: </strong>{{this.start}}</div>
<div><strong>End date: </strong>{{this.end}}</div>
<div><a href="/project/{{this._id}}">LINK</a></div>
<br/><br/>
{{/each}}
<!-- Exercise 2: Create new project -->
<!-- YOUR CODE HERE -->
<a href="/new">Create a new project</a>
