

<!-- Part 1: View all projects -->

<div class="projects-container">
  <h1 id="project-title">~All Projects~</h1>
  <span>
    {{#each array}}
    <div class="project">
      <div class="project-feed">
        <h3><a href="/project/{{this._id}}">{{title}}</a></h3> from {{start}} to {{end}} <br>
        <strong>Goal: </strong>${{goal}}  //  <strong>Total Contributions: </strong>${{totalContributions}}  //  <strong>Category: </strong>{{category}}<br>
        <p id="desc">"{{description}}"</p><br>
      </div>
    </div>
    {{/each}}
  </span>

<!-- Part 2: Create new project -->
<div class="button-box">
  <button class="btn btn-default btn-sm"><a href="/?sort=goal&sortDirection=-1">Sort by goal</a></button>
  <button class="btn btn-default btn-sm"><a href="/?sort=start&sortDirection=-1">Sort by starting date</a></button>
  <button class="btn btn-default btn-sm"><a href="/?sort=goal&sortDirection=-1">Sort by ending date</a></button>
  <button class="btn btn-default btn-sm"><a href="/?sort=totalContributions&sortDirection=-1">Sort by total contributions</a></button>

</div><br>


<button class="btn btn-default btn-sm"><a href="/new">Create new project</a></button>
</div>
