<h1>View projects</h1>

<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->
{{#each items}}
  <h3>{{title}}</h3>
  <h5>Goal:{{goal}}</h5>
  <h5>Start Date:{{start}}</h5>
  <h5>End Date:{{end}}</h5>
  <h4>{{description}}</h4>
{{/each}}

<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
<a href="/new">Create a new project</a>
