<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>View projects</h1>


<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->
    {{#each projects}}
      <li> {{title}} </li>
      <li> {{goal}} </li>
      <li> {{description}} </li>
      <li> {{start}} </li>
      <li> {{end}} </li>

    {{/each}}


<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
<a href="/new">Create new project</a>
</body>
</html>
