<h1>View projects</h1>

<nav class="navbar navbar-default" style="width:80%">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <!--<li><a href="http://localhost:3000/?sort=start">Sort by start date</a></li>
      <li><a href="http://localhost:3000/?sort=end">Sort by end date</a></li>
      <li><a href="http://localhost:3000/?sort=goal">Sort by goal</a></li>
      <li><a href="http://localhost:3000/?sort=contribution">Sort by contribution</a></li>
      <li><a href="http://localhost:3000/?sort=fullfunding">View fully funded</a></li>
      <li><a href="http://localhost:3000/?sort=notfullfunding">View not fully funded</a></li>-->
      <li><a href="" id="showall">Show all</a></li>
      <li><a href="" id="fullyfunded">View fully funded</a></li>
      <li><a href="" id="notfullyfunded">View not fully funded</a></li>
    </ul>
  </div>
</nav>
<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->
<div id="projects">
{{#each projects}}
<div class="panel panel-info" style="width:70%; padding:10px">
  <div class="panel-heading">
    <div style="font-size: 20px;">
      {{title}}
    </div>
     {{start}}-{{end}}
  </div>
  <div class="panel-body">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:{{percentage}}%">
      </div>
    </div>
    Goal: ${{goal}}
    <br/>
    {{description}}
  </div>
  <a href="http://localhost:3000/project/{{_id}}" class="btn btn-info" role="button">Donate</a>
</div>
{{/each}}
</div>
<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
{{> button link="http://localhost:3000/new" style="btn-primary" body="Create new project"}}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="projects.js"></script>
