<h1>View projects</h1>

<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->
{{#each items}}
<span>
  {{title}} <br>
  {{description}} <br>
  {{start}} <br>
  {{end}} <br>
  {{total}} <br>
  {{category}} <br><br>
</span>
{{/each}}
<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->

<br></br>
<a href = 'http://localhost:3000/new'>Create new project</a>
