<h1>View projects</h1>
<p><a href="/?sort=start">Sort by Start Date</a></p>
<p><a href="/?sort=end">Sort by End Date</a></p>
<p><a href="/?sort=goal">Sort by Goal</a></p>
<p><a href="/?sort=contributions">Sort by Contributions</a></p>
<div class="row">
{{#each projects}}
  <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
    <div class="thumbnail">
      <!-- <img src="..." alt="..."> -->
      <h3 class = "proj-title">{{this.title}}</h3>
      <div class="caption">
        <!-- <p>{{this.description}}</p> -->
        <p class = "dates">Start:{{this.start}}</p>
        <p class = "dates">End:{{this.end}}</p>
        <p class="goals">Goal: {{this.goal}}</p>
        <p><a href="/project/{{_id}}" class="btn btn-primary" role="button">See details</a></p>
      </div>
    </div>
  </div>
{{/each}}
</div>

<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
<a href="/new">Create New Project</a>
