<h1>View projects</h1>

<!-- Exercise 1: View all projects -->
<!-- YOUR CODE HERE -->

{{#each items}}
{{this.title}}
{{this.goal}}
{{this.description}}
{{this.start}}
{{this.end}}
</br>
{{/each}}
<!-- Exercise 2: Create new project -->
<!-- YOUR CODE HERE -->
<a href="/new">Create a new project</a>
<form method = "get" action = '/'>
<select name = "sort">
  <option value = "start">Start</option>
  <option value = "end">End</option>
  <option value = "goal">Goal</option>
  <option value = "totalContributions">Total Contributions</option>
</select>
<input type = "submit">
</form>
