<h2>Create project</h2>

<!-- Exercise 2: Create project -->
{{#each errors}}
<p>{{this.msg}}</p>
{{/each}}
<form method="POST" action="/new">
  <input type="text" name="title" placeholder="title" value={{title}}>
      <label for="category">Category</label>
      <select id="category" name="category" class="form-control">
          {{{dropDownCat this}}}
      </select>
  <input type="text" name="goal" placeholder="goal" value={{goal}}>
  <textarea name="description" rows="4" cols="50" value={{description}}></textarea>
  <input type="date" name="start" placeholder="Start Date" value={{start}}>
  <input type="date" name="end" placeholder="End Date" value={{end}}>
  <input type="submit">
</form>
<!-- Exercise 5: Project categories -->
<!-- YOUR CODE HERE -->
