<h2>Create project</h2>

<!-- Part 2: Create project -->
<h3>{{Eror}}</h3>
<form method="POST" action="/new">
  Title: <input type="text" name="title" value={{title}}><br>
  Goal: <input type="text" name="goal" value={{goal}}><br>
  Description: <input type="textarea" name="description" value={{description}}><br>
  Start: <input type="date" name="start" value={{start}}><br>
  End: <input type="date" name="end" value={{end}}><br>
  <input type="submit" name="submit" value="submit"><br>
</form>
<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
