<h2>Create project</h2>

<!-- Part 2: Create project -->
<form method="POST" action="/new">
  <div><input type="text" name="title" value="{{title2}}" placeholder="title"></div>
  <div><input type="text" name="goal" value="{{goal2}}" placeholder="goal"></div>
  <div><input type="textarea" name="description" value="{{description2}}" placeholder="description"></div>
  <div><input type="date" name="start" value="{{start2}}"></div>
  <div><input type="date" name="end" value="{{end2}}"></div>
  <div><input type="submit" value="submit">
    {{err}}
</form>
<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
