<h2>Create project</h2>

<form method="POST" action="/new">
  <div class="form-group container">
    Title: <input type="text" class="form-control" name="title" value="{{projtitle}}">
    Goal amount: <input type="text" class="form-control" name="goal" value="{{projgoal}}" placeholder="should be an amount in USD">
    Description: <textarea class="form-control" rows="3" name="description" value="{{projdescription}}">
    </textarea>
    Start Date: <input type="date" class="form-control" name="start" value="{{projstart}}">
    End Date: <input type="date" class="form-control" name="end" value="{{projend}}">
    <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category" name="category2">
          <option name="category" value="Famous Muppet Frogs">Famous Muppet Frogs</option>
          <option name="category" value="Current Black Presidents">Current Black Presidents</option>
          <option name="category" value="The Pen Is Mightier">The Pen Is Mightier</option>
          <option name="category" value="Famous Mothers">Famous Mothers</option>
          <option name="category" value="Drummers Named Ringo">Drummers Named Ringo</option>
          <option name="category" value="1-Letter Words">1-Letter Words</option>
          <option name="category" value="Months That Start With 'Feb'">Months That Start With "Feb"</option>
          <option name="category" value="How Many Fingers Am I Holding Up">How Many Fingers Am I Holding Up</option>
          <option name="category" value="Potent Potables">Potent Potables</option>
        </select>
      </div>
    <input type="submit" value="Create project" class="btn btn-default">
  </div>
</form>
