<h2>Create project</h2>

<!-- Part 2: Create project -->

<form method="POST" action="/new">
  <span>
    Title: <input type=text name="titleTextBox" value="{{project.title}}"><br><br>
    Goal: <input type=Number name="goalTextBox" value="{{project.goal}}"><br><br>
    Description: <textarea type="text" name="descTextBox" value="{{project.description}}"></textarea><br><br>
    Start date: <input type="Date" name="startDateTextBox" value="{{project.start}}"><br><br>
    End date: <input type="Date" name="endDateTextBox" value="{{project.end}}"><br><br>
    <input type="submit" value="Submit">
  </span>
</form>

<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
