<h2>Create project</h2>

<!-- Part 2: Create project -->
<form method="post" action="/new" >
  Title <input type="text" name="title" value="{{title}}">
  Goal <input type="text" name="goal" value="{{goal}}">
  Description <input type="Textarea" name="description" value="{{description}}">
  Start <input type="Date" name="start" value="{{start}}">
  End <input type="Date" name="end" value="{{end}}">
  <div class="form-group">
    <!-- <label for="sel1">Category:</label> -->
    <select name="category" class="form-control" id="sel1">
      <option value="" selected disabled>Select Category</option>
      {{#each categories}}
        <option value="{{this}}" name="category">{{this}}</option>
      {{/each}}
    </select>
  </div>
  <input type="submit" value="Submit"/>

</form>

{{#if errors}}
<ul>
  {{#each errors}}
    <li style="color: red">{{this.msg}} </li>
  {{/each}}
</ul>
{{/if}}

<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
