<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Create project</h2>
    <form method='post' action='/new'>
      <input type='text' name='title' placeholder="title.." value={{title}}>
      <input type='text' name='goal' placeholder="goal.." value={{goal}}>
      <input type='Textarea' rows='4' cols='50' name='description' placeholder="description.." value={{description}} >
      <input type='Date' name='start' placeholder="start.." value={{start}} >
      <input type='Date' name='end' placeholder="end.." value={{end}} >
      <input type='submit' name='submit'>

    </form>

    <select>
      <div class='drop-down-group'>
        <option value="Frogs">Famous Muppet Frogs</option>
        <option value="Presidents" selected="selected">Current Black Presidents</option>
        <option value="Pen">The Pen Is Mightier</option>
        <option value="Mom">Famous Mothers</option>
        <option value="Mom">Drummers Named Ringo</option>
        <option value="Mom">Months That Start with "Feb"</option>
        <option value="Mom">How Many Fingers Am I Holding Up</option>
        <option value="Mom">Poten Potables</option>
      </div>
    </select>

  </body>
</html>

<!-- Part 2: Create project -->
<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
