<h1>View Project</h1>

<!-- Part 3: View a single project -->

<!-- YOUR CODE HERE -->
Title: {{this.title}} <br>
Goal:  {{this.goal}} <br>
Description: {{this.description}} <br>
Start:  {{this.start}} <br>
End: {{this.end}} <br>

<!-- Part 4: Contribute to a project -->

<!-- YOUR CODE HERE -->
<br><br><strong>Contributions: </strong><br><br>
<form class="" method="post">
  Name: <br><input type="text" name="name" placeholder="Enter Name"><br>
  Amount: <br><input type="number" name="amount" placeholder="Enter Contribution"><br>
  <br><input type="submit" name="btn submit" value="Contribute">
</form>
