<h1>{{project.title}}</h1>
<h2>{{project.goal}}</h2>
<h2>{{project.description}}</h2>
<h2>{{project.start}}</h2>
<h2>{{project.end}}</h2>
<h3>TOTAL CONTRIBUTION:{{totalcont}}</h3>
<!-- Exercise 3: View a single project -->

<!-- YOUR CODE HERE -->

<!-- Exercise 4: Contribute to a project -->
<h1> Contribute now!
  <form action="/project/{{project.id}}" method="post">
    <input type="text" placeholder="Name" name="name" required>
    <input type="text" placeholder="Amount" name='amount' required>
    <input type='submit' >
  </form>

</br>

  <ul>
  {{#each project.contributions}}
  <li>{{this.name}}</li>
  <li>{{this.amount}}</li>
  {{/each}}
</ul>

<!-- YOUR CODE HERE -->
