<h1>View Project</h1>

<!-- Part 3: View a single project -->
<div class="project">
  <h3> {{project.title}} </h3>
  <h5> Goal: ${{project.goal}} </h5>
  <p> {{project.description}} </p>
  <span> Project lasts from {{project.start}} to {{project.end}} </span>
</div>
<!-- Part 4: Contribute to a project -->
<h2> Contributions to this Project </h2>

{{#if project.contributions}}
  We have raised ${{sum}} out of our goal of ${{project.goal}}!

  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{goalPercent}}"
    aria-valuemin="0" aria-valuemax="100" style="width:{{goalPercent}}%">
      {{goalPercent}}% Complete
    </div>
  </div>

  <ul>
    {{#each project.contributions}}
      <li> {{name}} donated ${{amount}} </li>
    {{/each}}
  </ul>

  {{else}}
  <h3> We have $0. We're poor, please donate. </h3>
{{/if}}


<form method="post">
  <div>
    Name <input type="text" name="name" value="{{name}}">
  </div>

  <div>
    Amount <input type="text" name="amount" value="{{amount}}">
  </div>

  <div>
    <input type="submit" value="Make a Contribution">
  </div>

  {{#if numError}}
    <span style="color: red"> Amount must be a number! </span>
  {{/if}}
</form>
