<h1>View Project</h1>

<!-- Exercise 3: View a single project -->

<ul>
  <li>{{project.title}}</li>
  <li>{{project.goal}}</li>
  <li>{{project.description}}</li>
  <li>{{project.start}}</li>
  <li>{{project.end}}</li>
<ul>
<!-- YOUR CODE HERE -->

<!-- Exercise 4: Contribute to a project -->

<!-- YOUR CODE HERE -->
