<h1>View Project</h1>

<!-- Part 3: View a single project -->
<div class="single-project">
  <h2>{{project.title}}</h2>
  <p> Goal: {{project.goal}} </p>
  <p> Description: {{project.description}} </p>
  <p> Start Date: {{project.start}} </p>
  <p> End Date: {{project.end}} </p>

  {{#if project.contributions}}

    <div class="contribution-board">
      <h4> Contributions </h4>
      <h3> Total Money Raised: {{project.totalAmount}} </h3>

      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{project.percentage}}%">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>

    {{#each project.contributions}}

      <div>
        <p> Contributor: {{this.name}} , Amount: {{this.amount}} </p>
      </div>

      {{/each}}

    <div class="contribution-board">
  {{/if}}
</div>

<!-- Part 4: Contribute to a project -->
<form method="POST" action="/project/{{project._id}}">
  <input type="text" placeholder="Name" name="name">
  <input type="text" placeholder="Amount" name="amount">
  <input type="submit">
</form>
