<script>
var projectId = '{{project._id}}';
</script>
<h1>View Project</h1>

<!-- Exercise 3: View a single project -->
<div class="hidden project-id">{{project._id}}</div>
<div><h3>{{project.title}}</h1><br>
<span>{{project.goal}}</span><br>
<span>{{project.description}}</span><br>
<span>{{project.start}}</span><br>
<span>{{project.end}}</span></div><br>
<span>{{project.category}}</span></div><br>
<span>{{project.contributions}}</span><br>
<span>{{total}}</span>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}"
  aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%">
  </div>
</div>

<!-- Exercise 4: Contribute to a project -->

<form action = "/project/{{project._id}}" method = 'post'>
  <input type= 'text' placeholder= 'Name' name= 'name' id ='name'></input></br>
  <input type= 'Number' placeholder= 'Amount' name= 'amount' id ='amount'></input></br>
  <button name='submit' id="send-contribution">Add Contributions</button>
</form>
<div id='projectContributions'></div>
