<h1>View Project</h1>

<!-- Part 3: View a single project -->

<h1> {{title}} </h1>
<h2> Goal: {{goal}}</h2>
<h2> Description: {{description}}</h2>
<h2> Start Date: {{start}}</h2>
<h2> End Date: {{end}}</h2>

<!-- Part 4: Contribute to a project -->

<!-- YOUR CODE HERE -->
