<h1>View Project</h1>

<!-- Part 3: View a single project -->
title: {{project.title}}  <br>
goal: {{project.goal}}  <br>
description: {{project.description}}  <br>
start: {{project.start}}  <br>
end: {{project.end}}  <br>
<div id = 'contributions'> contributions:
{{#each project.contributions}}
  {{this.name}} : {{this.amount}}
{{/each}}</div>
<br>
category: {{project.category}}
<br>



<!-- YOUR CODE HERE -->

<!-- Part 4: Contribute to a project -->
<form method ="POST" action="/project/{{project._id}}" id="form">
Name: <input id = "nameText" type="text" name = "name"> <br>
Amount: <input id="amountText"type="text" name = "amount"> <br>
<button id="send-contribution" data-project-id = "{{project._id}}">Add Contribution</button>

</form>
total contributions: {{sum}}
<!-- <ul id = "contribution">
  <li> {{this}} </li>
</ul> -->


<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%">

  </div>
</div>


<script src="/js/contributions.js"></script>

<!-- YOUR CODE HERE -->
