<h1>View Project</h1>

<!-- Part 3: View a single project -->
<div>Title: {{project.title}}</div>
  <div>Goal: {{project.goal}}</div>
  <div>Description: {{project.description}}</div>
<div>  Start date {{project.start}}</div>
<div>  End date {{project.end}}</div>
<div>Category {{project.category}}</div>
<!-- YOUR CODE HERE -->

<!-- Part 4: Contribute to a project -->


<div>
  Total contribution amount: {{sum}}
</div>
<!-- YOUR CODE HERE -->
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width:{{percent}}%"></div>
  </div>
  <div id='contribution'>
  {{#each arr}}
  <div>Name: {{this.name}} , Amount: {{this.amount}}</div>
  {{/each}}</div>
  <form method="POST" action="/project/{{project._id}}" id='form'>
    <div><input type="text" id='contributionName' name="name" value="" placeholder="name"></div>
    <div><input type="text" id='contributionAmount' name="amount" value="" placeholder="amount"></div>
  </form>
<div><button id="send-contribution" data-project-id="{{project._id}}">Add Contribution</button></div>
