<h1>View Project</h1>

<!-- Part 3: View a single project -->

<!-- YOUR CODE HERE -->
<h3>{{project.title}}</h3>
<h5>Goal:{{project.goal}}</h5>
<h5>Start Date:{{project.start}}</h5>
<h5>End Date:{{project.end}}</h5>
<h5>Category:{{project.category}}</h5>
<h4>{{project.description}}</h4>

<!-- Part 4: Contribute to a project -->
<form class="" action="" method="post">
  <span>
    <h3 class="name">Name</h3><input type="text" name="name" value="{{contributions.name}}" placeholder="Name">
    <h3 class="amount">Amount:</h3><input type="text" name="amount" value="{{contributions.amount}}" placeholder="Goal">
    <input type="submit" value="Submit">
  </span>
</form>
{{#each errors}}
  <h5>{{msg}}</h5>
{{/each}}

<h5>Total Contributions: {{totalCon}}</h5>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{completion}}"
  aria-valuemin="0" aria-valuemax="100" style="width:{{completion}}%">
    <span class="sr-only">{{completion}}% Complete</span>
  </div>
</div>

<h3>Contribution</h3>
{{#each project.contributions}}
<h4>{{name}}</h4>
<h4>{{amount}}</h4><br>
{{/each}}






<!-- YOUR CODE HERE -->
