<h1>View Project</h1>

<!-- Exercise 3: View a single project -->

<!-- YOUR CODE HERE -->

<h1>Title: {{title}}</h1>
<h3>Goal: {{goal}}</h3>
<h3>Description: {{description}}</h3>
<h3>Start: {{start}}</h3>
<h3>End: {{end}}</h3>
<h3>Percentage of goal: {{percentage}}</h3>
<h3>Total amount raised: {{this.totalraised}}</h3>

<h2> we have raised ({{percentage}}%) of our goal of ${{goal}}. </h2>
<br>
<h3> Project category: {{category}}</h3>
<br>
<h2>Contributions</h2>
{{#each this.contributions}}
<li>Donor: {{name}}</li>
<li>Amount: {{amount}}</li>
{{/each}}

<div class="progress">
  <div class="progress-bar" style="width:{{this.percentage}}%">
  </div>
</div>

<!-- Exercise 4: Contribute to a project -->

<!-- YOUR CODE HERE -->
<!-- <form action='/new' method="post"> -->
<form method="post">
  <div class=formgirl>
    name:<span class="required">*</span><br>
    <input type="text" placeholder="they call me" name="name"><br>
    amount:<span class="required">*</span><br>
    <input type="text" placeholder="amt of moneyz fo u" name="amount"><br>

    <br><br>
    <input type="submit" value="Submit">
    <a href="/project/{{id}}/edit">edit<a>

  </div>
