<h1>View Project</h1>

<!-- Part 3: View a single project -->

<strong>{{title}}</strong><br>
<strong>${{goal}}</strong> <br>
<strong>{{description}}</strong><br>
<strong>{{start}}</strong><br>
<strong>{{end}}</strong><br>

<!-- Part 4: Contribute to a project -->

<h3>Contributions</h3>

<form method="post" action="/project/{{id}}">
    <input type="text" name="name" value="" placeholder="Name">
    <input type="number" name="amount" value="" placeholder="Amount">
    <input type="submit" name="" value="Donate">
</form>

<strong>{{number}} Contributions made</strong>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}"
  aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%">
    {{percent}}%
  </div>
</div>

{{#each contribution}}
<strong>{{name}}: ${{amount}}</strong><br>
{{/each}}