<h1>View Project</h1>
<button onclick="window.history.back()">Go Back</button>

<!-- Part 3: View a single project -->
<hr>
<div class="single-project">
  Title : {{project.title}}
  <br>
  Goal: ${{project.goal}}
  <br>
  Description: {{project.description}}
  <br>
  Start Time: {{project.start}}
  <br>
  End Time: {{project.end}}
  <br>
  Category: {{project.category}}
</div>
<button onclick="window.location.href = window.location+'/edit'">Edit</button>


<hr>
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percentage}}%">
    {{percentage}}%
  </div>
</div>

<p>Total Donations are ${{totalContribution}} out of ${{project.goal}}</p>

<div class="contributions">
  {{#each project.contributions}}
    <ul>
      <li>{{this.name}}: ${{this.amount}}</li>
    </ul>
  {{/each}}
</div>
<!-- Part 4: Contribute to a project -->

<form class="contribute" action="#" method="post">
  <input type="text" name="name" value="" placeholder="name">
  <input type="text" name="amount" value="" placeholder="amount">
  <input type="submit" value="submit">
</form>
