<h1>View Project</h1>

<!-- Part 3: View a single project -->

<!-- YOUR CODE HERE -->
<div class="">
  {{title}}
</div>
<div class="">
  {{goal}}
</div>
<div class="">
  {{desc}}
</div>
<div class="">
  {{start}}
</div>
<div class="">
  {{end}}
</div>
<!-- Part 4: Contribute to a project -->

<!-- YOUR CODE HERE -->
<form method="post">
  name: <input type="text" name="name" value="{{name}}">
  amount: <input type="text" name="amount" value="{{amount}}">
  <input type="submit" name="" value="submit">
</form>
