<h1>View Project</h1>

<!-- Exercise 3: View a single project -->

<div>{{title}}</div>
<div>{{description}}</div>
<div>{{goal}}</div>
<div>{{start}}</div>
<div>{{end}}</div>
<div>{{categories}}</div>

{{#each contributions}}
	<div>{{this.name}}</div>
	<div>{{this.amount}}</div>
{{/each}}

<form action="/project/{{id}}" method="post">
  name: <input type="text" name="name"><br>
  amount: <input type="text" name="amount"><br>
  <input type="submit" value="Submit">
</form>


 <li><a href="/project/{{id}}/edit">Edit Project</a></li>

<!-- Exercise 4: Contribute to a project -->

<!-- YOUR CODE HERE -->
