<h1 id="{{project._id}}">{{project.title}}</h1>

<!-- Part 3: View a single project -->
<div class="view-post">
  <p>
    <b>Goal:</b> {{project.goal}} <br>
    <b>Description:</b> {{project.description}} <br>
    <b>Start:</b> {{project.start}} <br>
    <b>End:</b> {{project.end}} <br>
    <b>Category:</b> {{project.category}}<br>
  </p>
  <!-- YOUR CODE HERE -->

  <!-- Part 4: Contribute to a project -->
  <h2>make a contribution</h2>
  <div class="form-container">
    <form class="view-post-form">
      <input id ="name" type="text" name="name" placeholder="name">
      <input id="amount" type="text" name="amount" placeholder="amount">
      <button id="send-contribution">add contribution</button>
    </form>
  </div>

  <h2>contributions made</h2>
  <h2>Total so far: ${{project.total}}</h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{percentage}}%;background-color:rgba(37,203,104,1)">
      <span style="color: black">{{percentage}}% Complete</span>
    </div>
  </div>
  <div class="contributions">
    {{#each project.contributions}}
    <div class="cont">
      <p><b>Name:</b> {{name}} <br>
      <b>Amount:</b> ${{amount}}</p>
    </div>
    {{/each}}
  </div>
  <div class="bottom_btn">
    <a href="http://localhost:3000/project/{{project._id}}/edit"><button class="btn" type="button" name="button">Edit project</button></a>
    <a href="http://localhost:3000/"><button class="btn" type="button" name="button">Return to all posts</button></a>
  </div>
</div>
<script src="/js/contributions.js"></script>
