<h1>View Project</h1>

<!-- Exercise 3: View a single project -->
<strong>Title</strong>{{found:title}}
<strong>goal</strong>{{found:goal}}
<strong>description</strong>{{found:description}}
<strong>date</strong>{{found:date}}
<strong>end</strong>{{found:end}}
<!-- YOUR CODE HERE -->

<!-- Exercise 4: Contribute to a project -->

<!-- YOUR CODE HERE -->
