<h1>View Project</h1>


<!-- Part 3: View a single project -->

<div class="projectContainer container-fluid">
  <div class="projectPhoto row">
    <div class="col-md-12">
        <img src="" alt="">
    </div>
  </div>
  <div class="projectDetails row">
    <div class="col-md-12">
        <h1>Project Title</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum. Ipsum </p>
    </div>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{percentBar}}"
  aria-valuemin="0" aria-valuemax="100" style="width:{{percentBar}}%">
    {{percentBar}}% Raised
  </div>
</div>

<p>
  Title: {{project.title}}<br>
  Category: {{project.category}}<br>
  Goal: {{project.goal}}<br>
  Description: {{project.description}}<br>
  Start: {{project.start}}<br>
  End: {{project.end}}
</p>
{{#each project.contributions}}
<h3>{{this.contributor}} has contributed ${{this.amount}} to your project.</h3>
{{/each}}
<p>Total: {{total}} Percent of Goal: {{percentOfGoal}}</p>

<p>{{project.category}}</p>

<a href="/project/{{project._id}}/edit">Edit</a>

<!-- Part 4: Contribute to a project -->

<!-- YOUR CODE HERE -->
<form class="" action="/project/{{project._id}}/contribution" method="post">
  Name: <input id="contributor" type="text" name="contributor" value="Jeremy">
  Amount: <input id="amount" type="number" name="amount" value="20000">
  <input type="submit" id="send-contribution" name="" value="Contribute">
</form>
