<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>View Project</h1>

    {{#each project}}
      <li> {{title}} </li>
      <li> {{goal}} </li>
      <li> {{description}} </li>
      <li> {{start}} </li>
      <li> {{end}} </li>
    {{/each}}


  </body>
</html>

<!-- Part 3: View a single project -->

<!-- YOUR CODE HERE -->

<!-- Part 4: Contribute to a project -->

<!-- YOUR CODE HERE -->
