<h1>View Project</h1>

<!-- Part 3: View a single project -->
<!-- YOUR CODE HERE -->
{{#each Project}}
<div>{{Project.title}}</div>
<div>{{Project.goal}}</div>
<div>{{Project.start}}</div>
<div>{{Project.end}}</div>
<div>{{contributionNum}}</div>
<div>{{Project.category}}</div>
{{/each}}
<!-- Part 4: Contribute to a project -->

<!-- YOUR CODE HERE -->
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{percentage}}"
  aria-valuemin="0" aria-valuemax="100" style="width:{{percentage}}%">
    <span class="sr-only">{{percentage}} Complete</span>
</div>
</div>

<form method="POST">
  name: <input type="text" name="name" value="{{name}}" placeholder="name"/>
  amount: <input type="number" name="amount" value="{{amount}}" placeholder="amount"/>
  <input type="submit" value="Contribute to project"/>
</form>


<form action="/project/{{id}}/edit">
  <input type="submit" value="Edit"/>
</form>
