

<!-- Part 3: View a single project -->
<!-- YOUR CODE HERE -->
<div class="container-fluid" style="width: 50%">
  <h1>View Project</h1>
<div class="card">
<div class="card-header">
  Title: {{title}}
</div>
<div class="card-block">
  <p class="card-text"> Description: {{description}}</p>
  <p class="card-text"> <em> Goal: {{goal}} </em> </p>
  <p class="card-text"> <em> Total: {{total}} </em> </p>
</div>
<div class="card-block">
  <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
    {{progress}}%
  </div>
</div>
</div>
<div class="card-block">
  <legend> Contributors: </legend>
  <ul>
    {{#each conArr}}
      <li>
        <em> Name: {{this.name}}, Amount: {{this.amount}} </em>
      </li>
      {{/each}}
  </ul>
</div>
<div class="card-footer">
  <p> Start date: {{start}} </p>
  <p> End date: {{end}} </p>
</div>
</div>
</div>

<!-- Part 4: Contribute to a project -->
<!-- YOUR CODE HERE -->
<h2> Contribute to this project here! </h2>
<div class="container pull-left" style="width: 30%">
<form method="post" action="/project/{{project_id}}">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name" value="{{name}}">
  </div>
  <div class="form-group">
    <label>Amount</label>
    <input type="text" class="form-control" name="amount" value="{{amount}}">
  </div>
  <button type="submit" class="btn btn-primary">Contribute</button>
</form>
</div>
