<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h1>All Hail the Admin</h1>

<!-- Part 2: Display posts -->

<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->

{{#each posts}}
<div>{{this.author}} <em>{{this.date}}</em>--<b>{{this.title}}</b>: <a href="/admin/posts/delete/{{@index}}"><button>delete</button></a> <br>{{this.body}}<br>
    <form action='/admin/posts/authorDel/{{this.author}}'>
        <input type="submit" value='Delete all posts by this author'>
    </form>
    <form action='/admin/posts/authorDel/{{this.author}}'>
        <input type="submit" value='Edit this post'>
    </form>
    <br>
    <hr color="2px black">
</div><br>
{{/each}}
</div>
</html>
