<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>

    {{#if error}}
      <p>Error. You are not logged in.</p>
    {{else}}
        <h1>View all posts</h1>

        <h2>Your username: {{username}}</h2>
         {{#if backToAll}}
            <a href="/posts">Return to all posts</a>
         {{/if}}
         </br></br>
         {{#each data}}
             <div>{{this.author}} <a href="/posts?author={{this.author}}">View Posts by this Author</a></br>
                 {{this.title}}</br>
                 {{this.body}}</br>
                 {{this.date}}</br></br>
             </div>
         {{/each}}
    {{/if}}

<!-- YOUR CODE HERE -->

</body>
</html>
