<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}} </h2>

<!-- Part 2: Display posts -->

<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->
<a href="/posts/new"> <input type="submit" name="newPost" value="new post"></a>
<a href="/posts?order=ascending"> <input type="submit" name="order" value="sort ascending"></a>
<a href="/posts?order=descending"> <input type="submit" name="order" value="sort descending"></a>
<a href="/posts"> <input type="submit" name="seeAll" value="see all"></a>
<br>
  {{#each posts}}
  <div>
    <b> {{this.title}} </b> <br>
    {{this.author}} || {{this.date}} <br>
    {{this.body}} <br>
    <a href="/posts?author={{this.author}}"> view only posts by this author </a>
  </div> <br>
  {{/each}}
<!-- YOUR CODE HERE -->


</body>
</html>
