<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<br> </br>

Click <a href="http://localhost:3000/posts?order=ascending">here</a> to sort in ascending order.

<br> </br>

Click <a href="http://localhost:3000/posts?order=descending">here</a> to sort in descending order.

<br> </br>

<h2>Your username: {{username}}</h2>

<!-- Part 2: Display posts -->
{{#each posts}}
<div class = 'post'>
  {{ttitle}} by {{this.author}}
  {{this.body}}
  at {{this.date}}
    <a href="http://localhost:3000/posts?author={{this.author}}"> View only posts by this author </a>
  </div>
{{/each}}


<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->

<!-- YOUR CODE HERE -->



</body>
</html>
