<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>

<div class="forum-title-container">
  <a href="/posts/new">Create New Post</a>
  <h2 class = "header">Username: {{username}}</h2>
</div>

<div class="sername-container">

</div>

<h1 class = "header">ALL POSTS</h1>

{{#each posts}}
  <div class="post-container">
    <u>{{this.title}} - </u>
    <b>{{this.author}}:</b>
    <a href="/posts?author={{author}}">by this author</a>
    <br>
    {{this.body}}
    <br>
    {{this.date}}
    <br>
    <br>
  </div>
{{/each}}




</body>
</html>
