<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2>

<!-- Part 2: Display posts -->

<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->

<!-- YOUR CODE HERE -->
<a href="/posts/new"> Create New Post </a>

<div class="container">
  <div class="row">
  <a href="/posts?order=ascending"> sort by ascending order </a>
</div>
  <div class="row">
  <a href="/posts?order=descending"> sort by descending order </a>
  </div>
  <div class="row">
  <a href="/posts"> View all authors </a>
  </div>
{{#each posts}}
<div class="row">
<div class="card border">
<h3 class="card-header"> <em>{{author}}</em></h3>
<div class="card-block">
  <h4 class="card-title">{{title}}</h4>
  <p class="card-text">{{body}}</p>
</div>
<h5 class="card-footer pull-right">
  {{date}}
</h5>
<a href="/posts?author={{author}}"> <font class="grey">View only posts by this author</font> </a>
</div>
</div>
{{/each}}
</div>

</body>
</html>
