<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2>

<!-- Part 2: Display posts -->
  {{#each posts}}
  <div>{{this.title}} {{this.author}} {{this.body}} {{this.date}}
    <a href='/posts?author={{this.author}}'>see only {{this.author}}</a> <div>
  {{/each}}

  <a href='/posts/new'>Create new post </a>
  <div><a href='/posts?order=ascending'><button> Ascending</button></a>
  <a href='/posts?order=descending'><button>Descending</button></a>
</div>
</body>
</html>
