<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2>

<!-- Part 2: Display posts -->
{{#if singleView}}
  <a href="?order={{order}}">View all posts</a>
{{/if}}

{{#each postsTDisp as |post|}}
<article>

  <h2>{{post.title}}</h2>
  <p>{{post.body}}</p>
  <strong>{{post.author}}</strong>
  {{post.date}}
  <a href="?order={{order}}&author={{post.author}}">View only posts by this author</a>
</article>
<hr />
{{/each}}

<p><a href="/posts/new">New Post</a></p>
<p>
  <a href="?order=ascending&author={{author}}">View all Ascending</a>
  <a href="?order=descending&author={{author}}">View all Descending</a>
</p>


</body>
</html>
