<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2>

<a href="http://localhost:3000/posts?sort=ascending"><button>Sort ascending</button></a>
<a href="http://localhost:3000/posts?sort=descending"><button>Sort descending</button></a>


<!-- Part 2: Display posts -->

<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->

<!-- YOUR CODE HERE -->
<ul>
  {{#each posts}}
    <h1>{{this.author}} <a href="http://localhost:3000/posts?author="+{{aut}}><button>Only view posts by this author</button></a></h1>
    <h2>{{this.title}}</h2>
    <h3>{{this.body}}</h3>
    <h4>{{this.date}}</h4>
  {{/each}}
</ul>

</body>

<a href="http://localhost:3000/posts/new"><button>Create New Post</button></a>

</html>
