<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2>

<!-- Part 2: Display posts -->

<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->

<!-- YOUR CODE HERE -->
Sort Posts By Date:
<a href='http://localhost:3000/posts/?order=ascending' class='button'>Ascending</a>
<a href='http://localhost:3000/posts/' class='button'>Unordered</a>
<a href='http://localhost:3000/posts/?order=descending' class='button'>Descending</a><br><br>

<script type="text/javascript">
  var authorName = getElementById("inputAuth").value();
  res.render('posts', {
    // Pass `username` to the template from req.cookies.username
    // Pass `posts` to the template from data.read()
    // YOUR CODE HERE
    authorName: authorName
  });
</script>

Search Posts By Author:
<input type="text" name="author" id="inputAuth">
<a href='http://localhost:3000/posts/?author={{authorName}}' class='button'>Search</a>
<br><br>
{{#each data}}
  <div>
    Author: {{this.author}} <br>
    Title: {{this.title}} <br>
    Body: {{this.body}} <br>
    Date: {{this.date}} <br>
    -------------------------------------------------------------------------------------
  </div>
{{/each}}

</body>
</html>
