<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2>

<!-- Part 2: Display posts -->

<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->

{{#each posts}}
  <div class="Post">
    <div class="author">
      {{this.author}}
    </div>
    <div class="title">
      {{this.title}}
    </div>
    <div class="body">
      {{this.body}}
    </div>
    <div class="date">
      {{this.date}}
    </div>
    <form>
      View only posts by this author: <input type="submit" name="author" value="{{this.author}}">
    </form>
  </div>
{{/each}}
<form>
  <input type="submit" name="order" value="descending">
  <input type="submit" name="order" value="ascending">
  <input type="submit" name="author" value="show all">
</form>
</form>
</body>
</html>
