<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
  <h1>View all posts</h1>

  <h2>Your username: {{username}}</h2>

  <!-- Part 2: Display posts -->
  {{#each posts}}
  <div class="card">
    <div>User: {{this.author}}</div>
    <div>Title: {{this.title}}</div>
    <div>Post: {{this.body}}</div>
    <div>Date: {{this.date}}</div>
  </div>
  {{/each}}
  <!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->

<!-- YOUR CODE HERE -->
<p><a href="/posts/new">New Post</a></p>
<p>
  <a href="/posts?order=ascending">View all Ascending</a>
  <a href="/posts?order=descending">View all Descending</a>
</p>

</body>
</html>
