<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2>

<!-- Part 2: Display posts -->

<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->

<!-- YOUR CODE HERE -->
  {{#each posts}}
    <article>
      <hr>
      <h3>{{this.title}}</h3>
      <p>{{this.body}}</p>
      <i><strong>{{this.author}}</strong></i>
      {{this.date}}
      <p><a href="/posts?author={{this.author}}">Filter to this author only</a>
        <a href="/posts">Click to direct to all posts</a>
      </p>

      <hr>
    </article>

    <!-- {{this.author}}, {{this.date}}, {{this.title}}, {{this.body}} -->
  {{/each}}

  <p><a href="/posts/new">Create New Post</a></p>
  <p>
    <a href="/posts?order=ascending">Ascending order</a>
    <a href="/posts?order=descending">Descending order</a>
  </p>


</body>
</html>
