<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2>

<!-- Part 2: Display posts -->

<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->
<a href="/posts?order=ascending{{#if author}}&author={{author}}{{/if}}"> ascending</a>
<a href="/posts?order=descending{{#if author}}&author={{author}}{{/if}}"> descending</a>
<!-- YOUR CODE HERE -->
  {{#each posts}}
    <div class="post">
      <h3>{{title}}</h3>
      {{author}}--{{body}}--{{date}}
      <a href="/posts?author={{this.author}}"> click </a>
      <a href="/edit?id={{this.id}}&author={{this.author}}"> edit</a>
      <!-- <form class="" action="index.html" method="post">

      </form> -->
      <a href="/delete?id={{this.id}}&author={{this.author}}"> delete</a>
      <!-- <a class="delete" data-id="{{this.id}}"> delete</a> -->
    </div>
  {{/each}}
  {{#if author}}
    <a href="/posts"> View all </a>
  {{/if}}

    <a href="/posts/new"> New Post </a>

    <script src="https://cdn.rawgit.com/rails/jquery-ujs/master/src/rails.js"></script>
</body>
</html>
