<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>


<a href="/posts?order=ascending">View posts by ascending orders</a>
<a href="/posts?order=descending">View posts by descending orders</a>



<h2>Your username: {{username}}</h2>


<ul>
  {{#each posts}}
    <li>{{title}}</li>
    <li>{{body}}</li>
    <li>{{author}}</li>
    <li>{{date}}</li>


    {{#if authorExist}}

      {{#if desExist}}
      {{else}}
      <a href="/posts">View posts by all authors</desExista>
      {{/if}}

      {{#if ascExist}}
      {{else}}
      <a href="/posts">View posts by all authors</desExista>
      {{/if}}

    {{else}}





    {{#if desExist}}
    <a href="/posts?author={{author}}&order=descending">View posts only by this author</a>
    {{else}}
    <a href="/posts?author={{author}}">View posts only by this author</a>
    {{/if}}

    {{#if ascExist}}
    <a href="/posts?author={{author}}&order=ascending">View posts only by this author</a>
    {{else}}
    <a href="/posts?author={{author}}">View posts only by this author</a>
    {{/if}}





    {{/if}}

  </br>

    {{/each}}
</ul>
<!-- Part 2: Display posts -->

<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->

<!-- YOUR CODE HERE -->

</body>
</html>
