<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>

</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2>

<!-- Part 2: Display posts -->
{{#each posts}}
<div class="postbox">
  <div class = "flex-container postcontents">
    <div class="contents title">
      <div class="titlename">{{this.title}}</div>
      <div class="date">{{this.date}}</div>
      <button type="button" class="delete btn btn-default">delete</button>
      <button type="button" class="edit btn btn-default">edit</button>
    </div>
    <div class="contents author">
      Author: {{this.author}}
    </div>
    <div class="contents body">
      {{this.body}}
    </div>
    {{#if ../filterBy}}
    {{else}}
      {{#if ../order}}
        <a href="?order={{../order}}&amp;author={{this.author}}">show only posts from this author</a>
      {{else}}
        <a href="?author={{this.author}}">show only posts from this author</a>
      {{/if}}
    {{/if}}
  </div>
</div>
{{/each}}

{{#if filterBy}}
  <a href="?order=ascending&amp;author={{filterBy}}">sort in ascending order</a>
  <a href="?order=descending&amp;author={{filterBy}}">sort in desc order</a>
  <a href="/posts">View Posts by all authors</a>
{{else}}
  <a href="/posts?order=ascending">sort in ascending order</a>
  <a href="/posts?order=descending">sort in desc order</a>
{{/if}}


<!-- YOUR CODE HERE -->


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>

  $('.edit').on('click', function(event){
    var post = $(this).parent().siblings('.body');
    $(this).parent().siblings('.body').attr('contenteditable',true);//.val(true);
    $(this).parent().siblings('.body').focus();
    // post.hover();
    // $(this).parent().siblings('.body').replaceWith(`<div class="contents body">hi</div>`);
    console.log("Edit clicked");
  });
  $('.delete').on('click', function(event){
    $(this).parent().parent().parent().remove();
  });
</script>
</body>

</html>
