<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
  <style>

    .post {
      border: 1px solid black;
      margin-top: 5px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
    }

    #board {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

  </style>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2>

<!-- Part 2: Display posts -->

<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->
<!--1. if not multiple, then add &author=AUTHORNAME -->
{{#if authorStr}}
  <a href="/posts?order=ascending&amp;{{authorStr}}">Ascending</a>
  <a href="/posts?order=descending&amp;{{authorStr}}">Descending</a>
{{else}}
  <a href="/posts?order=ascending">Ascending</a>
  <a href="/posts?order=descending">Descending</a>
{{/if}}

<div id="board">

  {{#each posts}}
    <div class="post">
        <h4> {{this.author}} : {{this.date}} </h4>
        <h5> {{this.title}} </h5>
        <p> {{this.body}} </p>

        {{#if ../authorStr}}
          <a href="/posts?{{../orderStr}}"> View posts by all authors! </a>
        {{else}}
          <a href="/posts?author={{this.author}}&amp;{{../orderStr}}"> View posts by this author</a>
        {{/if}}

    </div>
  {{/each}}

</div>


</body>
</html>
