<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<a href="posts?order=ascending">Sort by ascending</a>
<a href="posts?order=descending">Sort by descending</a>
<a href="posts/new">Post a new message</a>

<br>
<br>

<form method="POST" action="/logout">
  <button type="submit">Logout</button>

  <!-- <input type="submit" value="Logout"> -->
</form>

<h2>Your username: {{username}}</h2>

{{#if authorFilter}}
<a href="posts">View posts by all authors</a>
{{/if}}

{{#each posts}}
<div>
  <h1>{{title}}</h1>
  <h2>{{author}}</h2>
  <h3>{{date}}</h3>
  <p>{{body}}</p>
  <a href="posts?author={{author}}">View only posts by this author</a>
  <form method="post" action="/delete">
    <input type="text" name="title" style="display: none" value="{{this.title}}"></input>
    <input type="text" name="author" style="display: none" value="{{this.author}}"></input>
    <input type="text" name="date" style="display: none" value="{{this.date}}"></input>
    <input type="text" name="body" style="display: none" value="{{this.body}}"></input>
    <button type="submit">Delete</button>
  </form>
  <form method="post" action="/deleteAll">
    <input type="text" name="author" style="display: none" value="{{this.author}}"></input>
    <button type="submit">Delete all posts by this author.</button>
  </form>
</div>
{{/each}}

</body>
</html>
