<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2>

<!-- Exercise 2: Display posts -->

<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.

-->
{{#each posts}}
  <div class ='posts'>
    <h2>{{title}}
    <h3>{{author}}
    <h4>{{body}}
    <h5>{{date}}
  </div>
{{/each}}

<p><a href="/posts/new">New Post</a></p>
<p>
  <a href="/posts?order=ascending">View all Ascending</a>
  <a href="/posts?order=descending">View all Descending</a>
  <a href="/posts?author={{username}}">Filter by this Author</a>
  <a href="/posts"> Show all Posts </a>
</p>

<!-- YOUR CODE HERE -->

</body>
</html>
