<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2>

<!-- YOUR CODE HERE -->
{{#each posts}}
<article>
  <h2>{{title}}</h2>
  <p>{{text}}</p>
  <strong>{{author}}</strong> <a href="/posts?author={{this.author}}">Views from this author only</a>
  {{date}}
</article>
<hr />
{{/each}}


<p><a href="/posts?author*">View all posts</a></p>
<p><a href="/posts/new">New Post</a></p>
<p>
  <a href="/posts?author={{author}}&order=ascending">View all Ascending</a>
  <a href="/posts?author={{author}}&order=descending">View all Descending</a>
</p>

</body>
</html>
