<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2>

<!-- Part 2: Display posts -->

<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->

<!-- YOUR CODE HERE -->
<form class="" action="/posts" method = 'get'>
  <input type="radio" name="order" value="ascending">
  <label for="ascending">Ascending</label>
  <input type="radio" name="order" value="descending">
  <label for="descending">Descending</label>
  <input type="radio" name="order" value="none">
  <label for="none">None</label>
  <input type="text" name="author" value="" placeholder="author">
  <input type="submit" name="" value="Enter">
  <input type="submit" name="noAuthor" value="Clear">
</form>

  <ul>
    {{#each posts}}
      <li class = "{{title}}">
        <div>{{title}}: by {{author}} on {{date}}. {{body}}</div>
        <form class="" action="/post_form" method="get">
          <input class = 'edit' type="button" name="" value="Edit">
          <input class = 'delete' type="button" name="" value="Delete">
          <input class = 'deleteall' type="button" name="" value="Delete All By Author">
        </form>
      </li>
    {{/each}}
  </ul>

</body>

</html>
