<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>Posts</h1>

<h2>Your username: {{username}}</h2>
<!-- <form action="/posts" method="get">
  <input type="hidden" name="order" value="descending">
  <button type="submit">Sort descending</button>
</form> -->
<a href="/posts?order=descending{{#if authorq}}&author={{authorq}}{{/if}}">Sort descending</a>
<a href="/posts?order=ascending{{#if authorq}}&author={{authorq}}{{/if}}">Sort ascending</a>
{{#if authorq}}
<a href="/posts">View all posts</a>
{{/if}}

<!-- to straight up make a button do that you couldn't use an html button
you would have to use a bootstrap class or someting like that -->


<!-- Part 2: Display posts -->

<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->

<!-- YOUR CODE HERE -->

<ul>
{{#each posts}}
  <li> {{this.author}} {{this.date}} {{this.title}} {{this.body}}</li>
  <a href='/posts?author={{this.author}}{{#if orderq}}&order={{orderq}}{{/if}}'>View posts only by this author</a>

{{/each}}
</ul>
</body>
</html>
