<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
  <h1>View all posts</h1>

  <h2>Your username: {{username}}</h2>

  <!-- Part 2: Display posts -->
  <form method="get" action="/posts/new">
    <input type="submit"></input>
  </form>

  <a href="/posts?order=descending">Descend</a>
  <a href="/posts?order=ascending">Ascend</a>

  {{#each posts}}
  <div class="post">
    <div class="border"><h2>{{this.title}}</h2><span>By: {{this.author}}</span></div>
    <div class="border">{{this.body}}</div>
    <div>{{this.date}}</div>
  </div>
  {{/each}}

  <!-- YOUR CODE HERE -->

</body>
</html>
