<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Students</title>
  </head>
  <body>
    <ul>
      {{#if isMale}}
        {{#each data}}
          <li>{{first_name}} {{last_name}}, {{email}}</li>
        {{/each}}
      {{else if isFemale}}
        {{#each data}}
          <li>{{first_name}} {{last_name}}, {{email}}</li>
        {{/each}}
      {{else}}
        {{#each data}}
          <li>{{first_name}} {{last_name}}, {{email}}</li>
        {{/each}}
      {{/if}}
    </ul>
  </body>
</html>
