<div>
  <span>List of Student Info</span>
  {{#if gender}}
    {{#each students}}
    {{#if students.gender === female}}
    <li>{{first_name}} {{last_name}} {{email}} {{gender}}</li>
    {{/if}}
    {{/each}}
  {{else}}
  <ul>
    {{#each students}}
    <li>{{first_name}} {{last_name}} {{email}} {{gender}}</li>
    {{/each}}
  </ul>
  {{/if}}
</div>
