<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      {{#if male_students}}
        <ul>
          {{#each male_students}}
          <li> {{this.first_name}} {{this.last_name}} {{this.email}} </li>
          {{/each}}
        </ul>
      {{/if}}

      {{#if female_students}}
      <ul>
        {{#each female_students}}
        <li> {{this.first_name}} {{this.last_name}} {{this.email}} </li>
        {{/each}}
      </ul>
      {{/if}}
  
    <ul>
      {{#each students}}
      <li> {{this.first_name}} {{this.last_name}} {{this.email}} </li>
      {{/each}}
    </ul>
  </div>
  </body>
</html>
