
<div>
  <span>
    {{#each data }}
      {{#if this.gender male}}
        {{this.id}} {{this.first_name}} {{this.last_name}} {{this.email}} {{this.gender}} <br>
      {{/if}}
    {{/each}}
  </span>
</div>
