<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>{{profile.firstName}} {{profile.middleInitial}}. {{profile.lastName}}</h1>
      {{profile.doB}} <br>
      {{profile.gender}} <br>
      {{profile.bio}} <br>
    </div>
  </div>
</body>
</html>
