<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Put your user profile here</h1>
      <ul>
        <li>{{firstName}}</li>
        <li>{{middleName}}</li>
        <li>{{lastName}}</li>
        <li>{{dob}}</li>
        <li>{{password}}</li>
        <li>{{gender}}</li>
        <li>{{signup}}</li>
        <li>{{bio}}</li>
      </ul>
    </div>
  </div>
</body>
</html>
