<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <p><label for="firstname">First Name:</label>
      {{firstname}} </p>
      <p><label for="middlename">Middle Initial:</label>
      {{middlename}} </p>
      <p><label for="lastname">Last Name:</label>
      {{lastname}}</p>
      <p><label for="dob">Date of Birth:</label>
      {{dob}}</p>
      <p><label for="pwd">Password:</label>
      {{password}}</p>
      <p><label for="gender">Gender:</label>
      {{gender}}</p>
      <p><label for="bio">Biography:</label>
      {{bio}}</p>
    </div>
  </div>
</body>
</html>
