<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="column form-labels">
        <strong>First Name</strong>
        <strong>Middle Initial</strong>
        <strong>Last Name</strong>
        <strong>Date of Birth</strong>
        <strong>Password</strong>
        <strong>Gender</strong>
        <strong>Sign up for newsletter</strong>
        <strong>Biography</strong>
      </div>
      <div class="column form-labels">
        <p>{{{firstname}}}</p>
        <p>{{{middleinitial}}}</p>
        <p>{{{lastname}}}</p>
        <p>{{{dob}}}</p>
        <p>{{{password}}}</p>
        <p>{{{gender}}}</p>
        <p>{{{newsletter}}}</p>
        <p>{{{biography}}}</p>
      </div>
    </div>
  </div>
</body>
</html>
