<!DOCTYPE html>
<html>

<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body {
      background-color: #2ECC71;
      padding-top: 2em;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <h1>First Name: {{firstName}}</h1>
      <h1>Middle Initial: {{middleInitial}}</h1>
      <h1>Last Name: {{lastName}}</h1>
      <h1>DOB: {{dateOfBirth}}</h1>
      <h1>Password: {{password}}</h1>
      <h1>Gender: {{gender}}</h1>
      <h1>Sign Up for Newsletter: {{#if newsletter}}Yes{{/if}}</h1>
      <h1>Biography: {{bio}}</h1>
    </div>
  </div>
</body>

</html>