<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      Name: {{profile.firstName}} {{profile.middleInitial}} {{profile.lastName}} <br>
      Date of Birth: {{profile.dob}} <br>
      Gender: {{profile.gender}} <br>
      Bio: {{profile.bio}}
    </div>
  </div>
</body>
</html>
