<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Put your user profile here</h1>
      <strong>First name: </strong><p>{{firstName}}</p>
      <strong>Middle Initial: </strong><p>{{midInit}}</p>
      <strong>Last name: </strong><p>{{lastName}}</p>
      <strong>DOB: </strong><p>{{dob}}</p>
      <strong>Password: </strong><p>{{password}}</p>
      <strong>Gender: </strong><p>{{gender}}</p>
      <strong>Biography: </strong><p>{{biography}}</p>


    </div>
  </div>
</body>
</html>
