<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
          <h1> {{profileInfo.firstName}}
            {{#if profileInfo.middleInit}}{{profileInfo.middleInit}}. {{/if}} {{profileInfo.lastName}}</h1>

          <div>
            Birthday: {{profileInfo.dob}}
          </div>

          <div>
            Gender: {{profileInfo.gender}}
          </div>

          <div>
            Biography:
            <p> {{profileInfo.bio}}</p>
          </div>
      </div>
    </div>
  </div>
</body>
</html>
