<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
  body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Put your user profile here</h1>

      <div class="row">
        <div class="col-sm-offset-1 col-sm-2">
          <label > First Name</label>
        </div>
        <div class="col-sm-offset-3">
          <span>{{profileObject.firstName}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-2">
          <label > Middle Initial</label>
        </div>
        <div class="col-sm-offset-3">
          <span>{{profileObject.middleInitial}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-2">
          <label > Last Name</label>
        </div>
        <div class="col-sm-offset-3">
          <span>{{profileObject.middleInitial}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-2">
          <label > Date</label>
        </div>
        <div class="col-sm-offset-3">
          <span>{{profileObject.date}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-2">
          <label > password</label>
        </div>
        <div class="col-sm-offset-3">
          <span>{{profileObject.password}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-2">
          <label > Gender</label>
        </div>
        <div class="col-sm-offset-3">
          <span>{{profileObject.gender}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-2">
          <label >Newsletter </label>
        </div>
        <div class="col-sm-offset-3">
          <span>{{profileObject.newsLetter}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-sm-2">
          <label > Bio</label>
        </div>
        <div class="col-sm-offset-3">
          <span>{{profileObject.bio}}</span>
        </div>
      </div>





    </div>
  </div>
</body>
</html>
