<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item"><strong>First Name:</strong>&nbsp {{firstName}}</li>
        <li class="list-group-item"><strong>Middle Initial:</strong>&nbsp {{middleInit}}</li>
        <li class="list-group-item"><strong>Last Name:</strong>&nbsp {{lastName}}</li>
        <li class="list-group-item"><strong>DOB:</strong>&nbsp {{date}}</li>
        <li class="list-group-item"><strong>Password:</strong>&nbsp {{password}}</li>
        <li class="list-group-item"><strong>Gender:</strong>&nbsp {{gender}}</li>
        <li class="list-group-item"><strong>Sign Up for newsletter:</strong>&nbsp {{newsletter}}</li>
        <li class="list-group-item"><strong>Bio:</strong>&nbsp {{bio}}</li>
      </ul>
    </div>
  </div>
</body>
</html>
