<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Profile</h1>
      <label for "fn">First name: </label>
      <div id = "fn"> {{profile.firstName}}
    </div>
    <label for "mi">First name: </label>
    <div id = "mi"> {{profile.middleInitial}}
  </div>
  <label for "ln">Last name: </label>
  <div id = "fn"> {{profile.lastName}}
</div>
  <label for "dob">DOB: </label>
  <div id = "dob"> {{profile.dob}}
</div>
<label for "pwd">Password: </label>
<div id = "pwd"> {{profile.password}}
</div>
<label for "gender">Gender: </label>
<div id = "gender"> {{profile.gender}}
</div>
<label for "newsletter">Sign up for newsletter: </label>
<div id = "newsletter"> {{profile.newsletter}}
</div>
<label for "bio">Bio: </label>
<div id = "bio"> {{profile.bio}}
</div>
  </div>
  </div>
</body>
</html>
