<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>

  <div class="container">
    <div class="row">

      <form class = "col-xs-offset-1">
        <div class="form-group">
          <label for="firstName">First Name</label>
          {{firstName}}
        </div>
        <div class="form-group">
          <label for="midInitial">Middle Initial</label>
          {{middleInitial}}>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          {{lastName}}
        </div>
        <div class="form-group">
          <label>DOB</label>
          {{dob}}
        </div>
        <div class="form-group">
          <label>Password</label>
          {{password}}
        </div>
        <div class="form-group">
          <label>Gender</label>
          {{gender}}
        </div>
        <div class="form-group">
          <label>Biography</label>
          {{biography}}
        </div>
      </form>

    </div>
  </div>
</body>
</html>
