<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>{{firstName}}</h1>
      <h2>{{middleInitial}}</h2>
      <h2>{{lastName}}</h2>
      <h2>{{dateOfBirth}}</h2>
      <h2>{{gender}}</h2>
      <h2>{{newsLetter}}</h2>
      <h2>{{bio}}</h2>

    </div>
  </div>
</body>
</html>
