<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      First Name {{first}}
    </div>
    <div class="row">
      Middle Initial {{middle}}
    </div>
    <div class="row">
      Last Name {{last}}
    </div>
    <div class="row">
      DOB {{dob}}
    </div>
    <div class="row">
      Password {{password}}
    </div>
    <div class="row">
      Gender {{gender}}
    </div>
    <div class="row">
      Sign Up for newsletter
    </div>
    <div class="row">
      Biography {{bio}}
    </div>

  </div>
</body>
</html>
