<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>First Name
        <div> {{firstName}} </div>
        Middle Initial
        <div> {{middleInitial}} </div>
        Last Name
        <div> {{lastName}} </div>
        Date Of Birth
        <div> {{dateOfBirth}} </div>
        Password
        <div> {{password}} </div>
        Gender:
        <div> {{gender}} </div>
        Signed up for newsletter?
        <div> {{signUpForNewsletter}} </div>
        Bio
        <div> {{bio}} </div>
    </div>
  </div>
</body>
</html>
