<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <h1>Profile</h1>
  <div class="container">
    <ul>
      <li>Name: {{firstName}}{{#if middleInitial}} {{middleInitial}}.{{/if}} {{lastName}}</li>
      <li>DOB: {{DOB}}</li>
      <li>Gender: {{gender}}</li>
      <li>Bio: {{bio}}</li>
    </ul>
  </div>
</body>
</html>
