<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Put your user profile here</h1>
      <ul>
        <p>FirstName: {{firstName}} </p>
        <p>Middle Initial: {{middleInitial}} </p>
        <p>LastName: {{lastName}} </p>
        <p>Birth of date: {{birthDate}} </p>
        <p>Password: {{password}} </p>
        <p>Gender: {{gender}} </p>
        <p>Bio: {{bioInfo}} </p>



      </ul>
    </div>
  </div>
</body>
</html>
