<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Put your user profile here</h1>
      <div class="profile">
        First Name: {{firstName}}<br>
        Middle Initial: {{middleInitial}}<br>
        Last Name: {{lastName}}<br>
        DOB: {{DOB}}<br>
        Gender: {{gender}}<br>
        Biography: {{bio}}<br>
      </div>
    </div>
  </div>
</body>
</html>
