<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Put your user profile here</h1>
      First Name: {{data.firstName}}
      Middle Name: {{data.middleName}}
      Last Name: {{data.lastName}}
      DOB: {{data.date}}
      Password: {{data.password}}
      Gender: {{data.gender}}
      Sign Up For Newsletter: Yes
      Biography: {{data.bio}}
    </div>
  </div>
</body>
</html>
