<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
  body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Put your user profile here</h1>
      <div style="float: left; width: 15%;">
        <b> First name</b>
      </div>
      <div style="float: right; width: 85%;">
        {{firstName}}
      </div>

      <div style="float: left; width: 15%;">
        <b> Middle Initial</b>
      </div>
      <div style="float: right; width: 85%;">
        {{middleInitial}}
      </div>

      <div style="float: left; width: 15%;">
        <b> Last Name</b>
      </div>

      <div style="float: right; width: 85%;">
        {{lastName}}
      </div>

      <div style="float: left; width: 15%;">
        <b> DOB </b>
      </div>
      <div style="float: right; width: 85%;">
        {{dob}} 
      </div>

      <div style="float: left; width: 15%;">
        <b> Password </b>
      </div>
      <div style="float: right; width: 85%;">
        {{password}}
      </div>

      <div style="float: left; width: 15%;">
        <b> Gender </b>
      </div>
      <div style="float: right; width: 85%;">
       {{gender}}
      </div>

      <div style="float: left; width: 100%;">
        <b> Signed up for newsletter </b>
      </div>


      <div style="float: left; width: 15%;">
        <b> Biography </b>
      </div>
      <div style="float: right; width: 85%;">
        {{biography}}
      </div>



    </div>
  </div>
</body>
</html>
