<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Put your user profile here</h1>
      <p>First Name: {{profile.firstName}}</p>
      <p>Middle Initital: {{profile.middleInitial}}</p>
      <p>Last Name: {{profile.lastName}}</p>
      <p>DOB: {{profile.dateOfBirth}}</p>
      <p>Password: {{profile.password}}</p>
      <p>Gender: {{profile.gender}}</p>
      <p>Newsletter?: {{profile.newsletter}}</p>
      <p>Bio: {{profile.bio}}</p>
    </div>
  </div>
</body>
</html>
