<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>{{name}}</h1>
      <p>{{birth}}</p>
      <p>{{password}}</p>
      <p>come on!!!!!{{gender}}</p>
      <p>{{bio}}</p>
    </div>
  </div>
</body>
</html>
