<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
      <h1>Put your user profile here</h1>
      First Name: {{firstName}} <br><br>
      Middle Inital: {{middleInitial}} <br><br>
      Last Name: {{lastName}} <br><br>
      DOB: {{dob}} <br><br>
      Gender: {{gender}} <br><br>
      Password: {{password}} <br><br>
      Newsletter: {{newsletter}} <br><br>
      Bio: {{bio}} <br><br>
    </div>
  </div>
</body>
</html>
