<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>{{profile.firstName}} {{profile.middleInitial}} {{profile.lastName}}</h1>
      <p><strong>Birthday:</strong> {{profile.date}}</p>
      <p><strong>Gender:</strong> {{profile.gender}}</p>
      <p><strong>Bio:</strong> {{profile.bio}}</p>
    </div>
  </div>
</body>
</html>
