<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>User Profile</h1>
      <div class="names">
          <strong>First Name: </strong>{{firstName}} <br>
          <strong>Middle Initial:</strong> {{middleInitial}} <br>
          <strong>Last Name:</strong> {{lastName}} <br>
      </div>

      <div class="dates">
        <strong>DOB:</strong> {{birthDate}}
      </div>

      <div class="passwords">
        <strong>Password: </strong>{{password1}}
      </div>

      <div class="genders">
        <strong>Gender: </strong>{{gender}}
      </div>

      <div class="">
        <strong>Sign-up for Newsletter: </strong>Yes
      </div>
      <div>
        <strong>Biography </strong><br>
        {{bio}}
      </div>
    </div>
  </div>
</body>
</html>
