<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="well container">
    <div class="row text-center">
      <h1>{{firstName}} {{#if middleInitial}}{{middleInitial}}. {{/if}}{{lastName}}</h1>
    </div>
    <div class="bio">
      <p>{{#if bio}}{{bio}}{{else}}No bio provided.{{/if}}</p>
    </div>
  </div>
</body>
</html>
