<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>User profile</h1>
      <ul>
        <li>First name: {{firstName}} </li>
        <li>Middle name: {{middleName}}</li>
        <li>Last name: {{lastName}}</li>
        <li>DOB: {{dob}}</li>
        <li>password: {{password}}</li>
        <li>gender: {{options}}</li>
        <li>Sign up for newsletter: {{check}}</li>
        <li>Biography: {{bio}}</li>
      </ul>
    </div>
  </div>
</body>
</html>
