<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Put your user profile here</h1>
      <p> First Name: {{fName}}</p>
      <p> Middle Initial: {{mInitial}}</p>
      <p> Last Name: {{lName}}</p>
      <p> Date of Birth: {{DdOB}}</p>
      <p> gender: {{gender}}</p>
      <p> bio: {{bio}}</p>
    </div>
  </div>
</body>
</html>
