<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1> {{form.firstName}} {{form.middleInitial}}. {{form.lastName}}</h1>
      <p> Date of birth: {{form.dateOfBirth}}</p>
      <p> Gender: {{form.gender}}</p>
      <p> Biography: {{form.bio}} </p>
    </div>
  </div>
</body>
</html>
