<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <form method="POST" action="/register">
        <div class="form-group">
          <label for="inputFirstname">First Name</label>
          {{firstname}}
        </div>
        <div class="form-group">
          <label for="inputFirstname">Middle initial</label>
          {{middlename}}
        </div>
        <div class="form-group">
          <label for="inputFirstname">Last Name</label>
          {{lastname}}
        </div>
        <div class="form-group">
          <label for="inputDOB">Date of Birth</label>
          {{dob}}
        </div>
        <div class="form-group">
          <label for="inputpassword">Password</label>
          {{password}}
        </div>
        <div class="form-group">
          <label for="inputrpassword">Repeat Password</label>
          {{rpassword}}
        </div>
        <div class="form-group">
          <label for="inputgender">Gender</label>
          {{gender}}
        </div>
        <div class="form-group">
          <label for="inputnews">Sign-up for newsletter</label>
          {{newsletter}}
        </div>
        <div class="form-group">
          <label for="inputbio">Bio</label>
          {{biography}}
        </div>
      </form>
    </div>
  </div>
</body>
</html>
