<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
    .outer {
      background-color: white;
      border-radius: 5px;
      padding: 50px 70px;
      margin: 40px;
    }
  </style>
</head>
<body>
  <div class="container outer">
    <div class="row">
      <h1>Your Profile</h1>
      <p><strong>First Name: </strong>{{firstName}}</p>
      <p><strong>Middle Initial: </strong>{{middleInitial}}</p>
      <p><strong>Date of Birth: </strong>{{dateOfBirth}}</p>
      <p><strong>Password: </strong>{{password}}</p>
      <p><strong>Gender: </strong>{{gender}}</p>
      <p><strong>Bio: </strong>{{bio}}</p>
    </div>
  </div>
</body>
</html>
