<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>User Profile</h1>
      <h2>First Name: {{profile.firstName}}</h2>
      <h2>Middle Initial: {{profile.middleName}}</h2>
      <h2>Last Name: {{profile.lastName}}</h2>
      <h2>DOB: {{profile.dob}}</h2>
      <h2>Password: {{profile.password}}</h2>
      <h2>Gender: {{profile.gender}}</h2>
      <h2>Sign up for Newsletter: Signed up!</h2>
      <h2>Biography: {{profile.biography}}</h2>
    </div>
  </div>
</body>
</html>
