<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>User</h1>
      <h3>Name: {{name}}</h3>
      <h5>Birthday {{bday}}</h5>
      <h5>Gender: {{gender}}</h5>
      <h5>Newsletter?: {{newsletter}}</h5>
      <h5>Biography</h5> <p>{{bio}}</p>
    </div>
  </div>
</body>
</html>
