<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Put your user profile here</h1>
      <div>First Name: {{user.firstName}}</div>
      <div>Middle Name: {{user.middleName}}</div>
      <div>Date of Birth: {{user.dob}}</div>
      <div>Password: {{user.password}}</div>
      <div>Gender: {{user.gender}}</div>
      <div>Sign up: {{user.signup}}</div>
      <div>Bio: {{user.bio}}</div>
    </div>
  </div>
</body>
</html>
