<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <style>
    body { background-color: #2ECC71; padding-top: 2em;}
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>
                {{this.fn}} <br>
                {{this.mi}} <br>
                {{this.ln}} <br>
                {{this.dob}} <br>
                {{this.pwd}} <br>
                {{this.rpwd}} <br>
                {{this.gender}} <br>
                {{this.news}} <br>
                {{this.bio}} <br>
            </h1>
        </div>
    </div>
</body>
</html>
