<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <h1>Put your registration form here</h1>
    <div><strong>Errors:</strong>
      {{#each errors}}
       <div class="alert alert-danger" >
         <strong>{{this.msg}}</strong>
       </div>
      {{/each}}
      </div>
    <div class="row">
      <form action="/register" method="post">
        First Name: <input type="text" placeholder="First Name" name="firstName" value="{{fname}}"required>
        Middle Name Init: <input type="text" name="middleInit" value="{{middleInit}}" >
        Last Name: <input type="text" name="lastName" value="{{lastName}}" required>
        DOB: <input type="date" name="dob" value="{{dob}}">
        <input type="submit" value="submit">
      </form>
    </div>
  </div>
</body>
</html>
