<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div><strong>Errors:</strong>
      {{#each errors}}
      {{msg}} <br>
      {{/each}}
    </div> <br>
    <div class="row">
      <form action="/register" method="post">
        <input type="text" name="firstName" value="{{lastName}}" placeholder='first name' required>
        <input type="text" name="middleInitial" value="{{middleInitial}}" placeholder='middle initial'>
        <input type="text" name="lastName" value="{{lastName}}" placeholder='last name'required> <br><br>
        Date of Birth <br>
        <input type="date" name="dob" value="{{dob}}"> <br><br>
        password <br>
        <input type="password" name="password" value="{{password}}" required> <br>
        repeat password <br>
        <input type="password" name="repeatPassword" value='' required> <br><br>
        Sign up for our newsletter! <br>
          <input type="checkbox" name="yes" value="signed up"> <label for="yes"> aight </label> <br>
        Gender <br>
          <input type="radio" name="gender" value="male"> Male<br>
          <input type="radio" name="gender" value="female"> Female <br>
          <input type="radio" name="gender" value="other"> Rather not say <br><br>
        Bio! <br>
          <textarea type="textarea" name="bio" value="{{bio}}" placeholder="help us get to know you ;)"></textarea> <br><br>
          <input type="submit">

      </form>
    </div>
  </div>
</body>
</html>
