<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <h1>Put your registration form here</h1>
    <div><strong>Errors:</strong>
      {{#each errors}}
      <li>{{this.msg}}</li>
      {{/each}}
    </div>

    <div class="row">
      <form action="/register" method="post" >
        <div class="form-group">
        <input class='form-control 'type="text" placeholder="First Name" name="firstName" value='{{user.firstName}}' >
      </div>

      <div class="form-group">
        <input class="form-control" type="text" placeholder="Middle Name" name="middleName"value='{{user.middleName}}'  >
      </div>

      <div class="form-group">
        <input class="form-control"type="text" placeholder="Last Name" name="lastName" value='{{user.lastName}}'>
      </div>

      <div class="form-group">
        <input class="form-control"type="date" placeholder="" name="dob" value='{{user.dob}}'>
      </div>

        <div class="form-group">
        <input class="form-control"type="password" placeholder="password" name="password" value='{{user.password}}'>
      </div>

      <div class="form-group">
        <input class="form-control"type="password" placeholder="repeat password" name="password2" value='{{user.password2}}'>

      <div class="form-group">
        {{#each radio}}
          <input class="form-control" type="radio" name="gender" value="{{name}}" {{#if checked}} checked{{/if}}> {{name}}
        {{/each}}
      </div>

      <div class="form-group">
        {{#each checkbox}}
        <input class="form-control" type="checkbox" name='signup' value="{{name}}" {{#if selected}} selected{{/if}}>{{name}}
        {{/each}}
      </div>
      <div class="form-group">
        <input class="form-control"type="textarea" placeholder="Bio" name="bio"value='{{user.bio}}' >
      </div>
        <input class="btn btn-primary" type="submit">
      </form>
    </div>
  </div>
</body>
</html>
