<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
    <h1>
        <ul>
        New User Profile:<br><br>
          First Name: {{firstName}} <br>
          Middle Initial: {{middleI}} <br>
          Last Name: {{lastName}}<br>
          DoB: {{DOB}}<br>
          Password: {{password}}<br>
          Biography: {{bib}}<br>
          Gender: {{gender}}<br>
          Date of Registration: {{date}}
        </ul>
    </h1>
    </div>
  </div>
</body>
</html>