<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>
<p>First Name is {{firstName}}</p>
<p>Middle Name is {{mInitial}}</p>
<p>Last Name is {{lastName}}</p>
<p>Month of Birth is {{dobMonth}}</p>
<p>Day of Birth is {{dobDay}}</p>
<p>Year of Birth {{dobYear}}</p>
<p>Gender is {{optionsRadios}}</p>
<p> Your biography is {{biography}}</p>
      </h1>
    </div>
  </div>
</body>
</html>
