<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Welcome aboard, {{firstName}}!</h1>
    </div>
    <div>
      <p>Full Name: {{firstName}} {{middleInitial}} {{lastName}}</p>
      <p>Birthday: {{dobMonth}} \ {{dobDay}} \ {{dobYear}}</p>
      <p>Gender: {{gender}}</p>
      <p>Biography: {{Bio}}</p>
      <p>Date Registered: {{registered}}
    </div>
  </div>
</body>
</html>
