<!DOCTYPE html>
<html>

<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body {
      background-color: #2ECC71;
      padding-top: 2em;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9">
              <p>
                {{firstName}}
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Middle Initial</label>
            <div class="col-sm-9">
              <p>
                {{middleInitial}}
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-9">
              <p>
                {{lastName}}
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Date of Birth</label>
            <div class="col-sm-9">
              <p>
                {{dobMonth}}/{{dobDate}}/{{dobYear}}
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9">
              <p>
                {{lastName}}
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9">
              <p>
                {{lastName}}
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9">
              <p>
                {{lastName}}
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9">
              <p>
                {{lastName}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
