<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Welcome to your profile, {{firstName}}!</h1>
      <img src="http://www.business.uconn.edu/wp-content/uploads/sites/969/2014/12/profileimg_blank.jpg" style="height: 100px; width: 100px;">
      <div><h2>{{firstName}} {{middleInit}} {{lastName}}</h2></div>
      <div><h3>{{gender}}</h3></div>
      <div><h3>{{biography}}</h3></div>
      <div><h6> Member since: {{date}}</h6></div>
    </div>
  </div>
</body>
</html>
