<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Welcome to {{firstName}}'s World</h1>
    </div>
    <ul>
    <li>Name: {{firstName}} {{lastName}}</li>
    <li>Date of Year: {{dobMonth}}/{{dobDay}}/{{dobYear}}</li>
    <li>Gender: {{Gender}}</li>
    <li>Bio: {{Bio}}</li>
    <li>Date of Registration: {{registered}}</li>
    </ul>
  </div>
</body>
</html>
