<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>User Profile</h1>
    </div>
    <div class="firstName">
      <div class="col-sm-2 control-label">First Name: </div>
      <div class="col-sm-10">{{firstName}}</div>
    </div>
    <div class="middleInitial">
      <div class="col-sm-2 control-label">Middle Initial: </div>
      <div class="col-sm-10">{{middleInitial}}</div>
    </div>
    <div class="lastName">
      <div class="col-sm-2 control-label">Last Name: </div>
      <div class="col-sm-10">{{lastName}}</div>
    </div>
    <div class="password">
      <div class="col-sm-2 control-label">Password: </div>
      <div class="col-sm-10">{{password}}</div>
    </div>

    <h3> Birthday</h3>
    <div class="birthMonth">
      <div class="col-sm-2 control-label">Month: </div>
      <div class="col-sm-10">{{birthMonth}}</div>
    </div>
    <div class="birthDay">
      <div class="col-sm-2 control-label">Day: </div>
      <div class="col-sm-10">{{birthDay}}</div>
    </div>
    <div class="birthYear">
      <div class="col-sm-2 control-label">Year: </div>
      <div class="col-sm-10">{{birthYear}}</div>
    </div>
    <div class="gender">
      <div class="col-sm-2 control-label">Gender: </div>
      <div class="col-sm-10">{{gender}}</div>
    </div>
  </div> 
</body>
</html>
