<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Put your user profile here</h1>
      <h3> Welcome, {{firstName}} {{middleInitial}} {{lastName}}!</h3>
      <p>Born: {{#if DOBmonth}}{{DOBmonth}}{{/if}}/{{#if DOBday}}{{DOBday}}{{/if}}/{{#if DOByear}}{{DOByear}}{{/if}}</p>
      <p>{{firstName}} identifies as {{gender}}, and{{#if newsLetter}}signed up for the newsletter
         {{else}} did not sign up for the newsletter
         {{/if}}
      </p>
      <p>Bio: {{bio}}</p>
      <p>Registered: {{registerDate}}</p>
    </div>
  </div>
</body>
</html>
